<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <app-barra-lateral-encargado></app-barra-lateral-encargado>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content" class="main-content">

            <!-- Topbar -->
            <app-barra-superior></app-barra-superior>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <ul *ngIf="vista_actual=='general'" class="nav nav-pills nav-justified">
                    <li>
                        <h1 class="h3 mb-0 text-gray-800" style="padding-top: 3%;">Estadísticas &nbsp; &nbsp; </h1>
                    </li>

                    <li class="nav-item">
                      <button class="nav-link active" (click)="cambio_vista('general')">Generales</button>
                    </li>
                    <li class="nav-item">
                      <button class="nav-link" (click)="cambio_vista('aptitudes')">Aptitudes</button>
                    </li>
                    <li class="nav-item">
                      <button class="nav-link" (click)="cambio_vista('remuneracion')">Remuneración</button>
                    </li>
                    <li class="nav-item">
                      <button class="nav-link" (click)="cambio_vista('encuesta')"> Encuesta final</button>
                    </li>
                </ul>

                <ul *ngIf="vista_actual=='aptitudes'" class="nav nav-pills nav-justified">
                    <li>
                        <h1 class="h3 mb-0 text-gray-800" style="padding-top: 3%;">Estadísticas &nbsp; &nbsp; </h1>
                    </li>

                    <li class="nav-item">
                      <button class="nav-link" (click)="cambio_vista('general')">Generales</button>
                    </li>
                    <li class="nav-item">
                      <button class="nav-link active" (click)="cambio_vista('aptitudes')">Aptitudes</button>
                    </li>
                    <li class="nav-item">
                      <button class="nav-link" (click)="cambio_vista('remuneracion')">Remuneración</button>
                    </li>
                    <li class="nav-item">
                      <button class="nav-link" (click)="cambio_vista('encuesta')"> Encuesta final</button>
                    </li>
                </ul>

                <ul *ngIf="vista_actual=='remuneracion'" class="nav nav-pills nav-justified">
                    <li>
                        <h1 class="h3 mb-0 text-gray-800" style="padding-top: 3%;">Estadísticas &nbsp; &nbsp; </h1>
                    </li>

                    <li class="nav-item">
                      <button class="nav-link" (click)="cambio_vista('general')">Generales</button>
                    </li>
                    <li class="nav-item">
                      <button class="nav-link" (click)="cambio_vista('aptitudes')">Aptitudes</button>
                    </li>
                    <li class="nav-item">
                      <button class="nav-link active" (click)="cambio_vista('remuneracion')">Remuneración</button>
                    </li>
                    <li class="nav-item">
                      <button class="nav-link" (click)="cambio_vista('encuesta')"> Encuesta final</button>
                    </li>
                </ul>

                <ul *ngIf="vista_actual=='encuesta'" class="nav nav-pills nav-justified">
                    <li>
                        <h1 class="h3 mb-0 text-gray-800" style="padding-top: 3%;">Estadísticas &nbsp; &nbsp; </h1>
                    </li>

                    <li class="nav-item">
                      <button class="nav-link" (click)="cambio_vista('general')">Generales</button>
                    </li>
                    <li class="nav-item">
                      <button class="nav-link" (click)="cambio_vista('aptitudes')">Aptitudes</button>
                    </li>
                    <li class="nav-item">
                      <button class="nav-link" (click)="cambio_vista('remuneracion')">Remuneración</button>
                    </li>
                    <li class="nav-item">
                      <button class="nav-link active" (click)="cambio_vista('encuesta')"> Encuesta final</button>
                    </li>
                </ul>

                <br>

                <div *ngIf="vista_actual=='general'">
                    Estadisticas Generales
                </div>

                <div *ngIf="vista_actual=='aptitudes'">
                    Estadisticas Aptitudes
                </div>

                <div *ngIf="vista_actual=='remuneracion'">

                    <div class="row">
                        <div class="col-lg-6 mb-4">
                            <div class="card shadow mb-4">
                                <a href="#collapseCardTipoPractica" class="d-block card-header py-3"
                                    data-toggle="collapse" role="button" aria-expanded="true"
                                    aria-controls="collapseCardTipoPractica">
                                    <h6 class="m-0 font-weight-bold text-primary" style="font-size: large;">Remuneración promedio por tipo de práctica</h6>
                                </a>
                                <!-- Card Content - Collapse -->
                                <div class="collapse show" id="collapseCardTipoPractica">
                                    <div class="overflow-auto">
                                        <div class="table-responsive">
                                            <table class="table table-bordered hover" id="dataTable"
                                                width="100%" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th>Tipo de práctica</th>
                                                        <th>Remuneración</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr
                                                        *ngFor="let remuneracion_practica of remuneracion_tipo_practica; let j = index">
                                                        <th>{{remuneracion_practica.tipo}}</th>
                                                        <th>{{remuneracion_practica.remuneracion}}</th>
                                                    </tr>
                                                    <tr class="table-light">
                                                        <th>Promedio</th>
                                                        <th>{{remuneracion_promedio_tipo_practica}}</th>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-lg-6 mb-4">
                            <div class="card shadow mb-4">
                                <a href="#collapseCardCarreraRemuneracion" class="d-block card-header py-3"
                                    data-toggle="collapse" role="button" aria-expanded="true"
                                    aria-controls="collapseCardCarreraRemuneracion">
                                    <h6 class="m-0 font-weight-bold text-primary" style="font-size: large;">Remuneración promedio por carrera</h6>
                                </a>
                                <!-- Card Content - Collapse -->
                                <div class="collapse show" id="collapseCardCarreraRemuneracion">
                                    <div class="overflow-auto">
                                        <div class="table-responsive">
                                            <table class="table table-bordered hover" id="dataTable"
                                                width="100%" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th>Carrera</th>
                                                        <th>Remuneración</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr
                                                        *ngFor="let remuneracion_practica of remuneracion_por_carrera; let j = index">
                                                        <th>{{remuneracion_practica.carrera}}</th>
                                                        <th>{{remuneracion_practica.remuneracion}}</th>
                                                    </tr>
                                                    <tr class="table-light">
                                                        <th>Promedio</th>
                                                        <th>{{remuneracion_promedio_por_carrera}}</th>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 mb-4">
                            <div class="card shadow mb-4">
                                <a href="#collapseCardEmpresaRemuneracion" class="d-block card-header py-3"
                                    data-toggle="collapse" role="button" aria-expanded="true"
                                    aria-controls="collapseCardEmpresaRemuneracion">
                                    <h6 class="m-0 font-weight-bold text-primary" style="font-size: large;">Remuneración promedio por empresa</h6>
                                </a>
                                <!-- Card Content - Collapse -->
                                <div class="collapse show" id="collapseCardEmpresaRemuneracion">
                                    <div class="overflow-auto">
                                        <div class="table-responsive">
                                            <table class="table table-bordered hover" id="dataTable"
                                                width="100%" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th>Empresa</th>
                                                        <th>Remuneración</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr
                                                        *ngFor="let remuneracion_practica of remuneracion_por_empresa; let j = index">
                                                        <th>{{remuneracion_practica.empresa}}</th>
                                                        <th>{{remuneracion_practica.remuneracion}}</th>
                                                    </tr>
                                                    <tr class="table-light">
                                                        <th>Promedio</th>
                                                        <th>{{remuneracion_promedio_por_empresa}}</th>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 mb-4">
                            <div class="card shadow mb-4">
                                <a href="#collapseCardRamoRemuneracion" class="d-block card-header py-3"
                                    data-toggle="collapse" role="button" aria-expanded="true"
                                    aria-controls="collapseCardRamoRemuneracion">
                                    <h6 class="m-0 font-weight-bold text-primary" style="font-size: large;">Remuneración promedio por ramo marcado como útil</h6>
                                </a>
                                <!-- Card Content - Collapse -->
                                <div class="collapse show" id="collapseCardRamoRemuneracion">
                                    <div class="overflow-auto">
                                        <div class="table-responsive">
                                            <table class="table table-bordered hover" id="dataTable"
                                                width="100%" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th>Ramo</th>
                                                        <th>Remuneración</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr
                                                        *ngFor="let remuneracion_practica of remuneracion_por_ramo_util; let j = index">
                                                        <th>{{remuneracion_practica.ramo}}</th>
                                                        <th>{{remuneracion_practica.remuneracion}}</th>
                                                    </tr>
                                                    <tr class="table-light">
                                                        <th>Promedio</th>
                                                        <th>{{remuneracion_promedio_por_ramo_util}}</th>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="vista_actual=='encuesta'">
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h2 class="h3 mb-0 text-gray-800">Respuestas de estudiantes en encuesta realizada al finalizar la práctica</h2>
                    </div>
    
                    <select name="tipo" id="tipo" (change)="cambiar_config_practica($event)"
                        class="form-select form-select-sm mb-4 col-4" aria-label="Default select example">
    
                        <option value="0">Seleccione práctica a mostrar</option>
                        <option *ngFor="let config_practica of AUX_config_practicas" [value]="config_practica.id">
                            {{config_practica.nombre}}</option>
    
                    </select>
    
                    <!-- MOSTRANDO PREGUNTAS -->
    
                    <div class="row">
    
                        <div *ngIf="largo_arreglo(preguntas_mostrar)==0 && id_config_practica_mostrar != 0">
                            No hay estadísticas para mostrar
                        </div>
    
                        <div class="col-lg-6 mb-4" *ngFor="let pregunta of preguntas_mostrar; let i = index">
    
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary" style="font-size: large;">{{pregunta[1]}}
                                    </h6>
                                </div>
    
                                <!-- MOSTRANDO OPCIONES DE LA PREGUNTA -->
    
                                <div class="card-body">
                                    <div *ngFor="let pos of pregunta; let k = index">
                                        <div *ngIf="!isNumber(pos) && k>1">
    
                                            <h4 class="small font-weight-bold">{{pregunta[k]}} <span
                                                    class="float-right">{{toInt(pregunta[k+1])}}%</span></h4>
                                            <div class="progress mb-4">
                                                <div class="progress-bar" role="progressbar"
                                                    [style]="'width: '+pregunta[k+1]+'%'" aria-valuenow="40"
                                                    aria-valuemin="0" aria-valuemax="100">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>

                <!-- <mat-tab-group>

                    <mat-tab label="Generales"> 
                        <br>
                        Estadisticas Generales
                    </mat-tab>

                    <mat-tab label="Aptitudes">
                        <br>
                        Estadisticas Aptitudes
                    </mat-tab>

                    <mat-tab label="Remuneración">
                        <br>
                        Estadisticas Remuneración
                    </mat-tab>

                    <mat-tab label="Por tipo de práctica">
                        <br>
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h2 class="h3 mb-0 text-gray-800">Respuestas de estudiantes en encuesta realizada al finalizar la práctica</h2>
                        </div>
        
                        <select name="tipo" id="tipo" (change)="cambiar_config_practica($event)"
                            class="form-select form-select-sm mb-4 col-4" aria-label="Default select example">
        
                            <option value="0">Seleccione práctica a mostrar</option>
                            <option *ngFor="let config_practica of AUX_config_practicas" [value]="config_practica.id">
                                {{config_practica.nombre}}</option>
        
        
                             <option value="0">Seleccione el tipo de respuesta</option>
                            <option value="1">Abierta</option>
                            <option value="2">Casillas</option>
                            <option value="3">Alternativa</option>
                        </select>
    
        
                        <div class="row">
        
                            <div *ngIf="largo_arreglo(preguntas_mostrar)==0 && id_config_practica_mostrar != 0">
                                No hay estadísticas para mostrar
                            </div>
        
                            <div class="col-lg-6 mb-4" *ngFor="let pregunta of preguntas_mostrar; let i = index">
        
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary" style="font-size: large;">{{pregunta[1]}}
                                        </h6>
                                    </div>
        
                                   
        
                                    <div class="card-body">
                                        <div *ngFor="let pos of pregunta; let k = index">
                                            <div *ngIf="!isNumber(pos) && k>1">
        
                                                <h4 class="small font-weight-bold">{{pregunta[k]}} <span
                                                        class="float-right">{{toInt(pregunta[k+1])}}%</span></h4>
                                                <div class="progress mb-4">
                                                    <div class="progress-bar" role="progressbar"
                                                        [style]="'width: '+pregunta[k+1]+'%'" aria-valuenow="40"
                                                        aria-valuemin="0" aria-valuemax="100">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                        </div>
                    </mat-tab>
                    
                </mat-tab-group> -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->


    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" (click)="scrollToTop()">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<app-logout-modal></app-logout-modal>

<!-- Bootstrap core JavaScript-->
<script src="../../../assets/vendor/jquery/jquery.min.js"></script>
<script src="../../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../../../assets/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="../../../assets/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="../../../assets/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="../../../assets/js/demo/chart-area-demo.js"></script>
<script src="../../../assets/js/demo/chart-pie-demo.js"></script>