<br>
<br>
<div style="text-align: center; justify-content: center">
    <div class="display-4">Praxus </div>
    <h1>Haciendo de la gestión de prácticas una labor más fácil</h1>

    <div style="text-align: center">
        <button mat-raised-button [ngStyle]="{'background-color': '#3f51b5', 'color': 'white'}" routerLink="/alumno/1" routerLinkActive="active"> Entrar como Alumno</button>
    </div>
    <br>
    <div style="text-align: center">
        <button mat-raised-button [ngStyle]="{'background-color': '#3f51b5', 'color': 'white'}" routerLink="/encargado" routerLinkActive="active">Entrar como Encargado</button>
    </div>
    <br>
    <div style="text-align: center;">
        <button mat-raised-button [ngStyle]="{'background-color': '#3f51b5', 'color': 'white'}" routerLink="/tests" routerLinkActive="active">Test Views</button>
    </div>
</div>
