<div id="wrapper">
    <div *ngIf="esalumno == 1; else elseblock">
        <app-barra-lateral-alumno></app-barra-lateral-alumno>
    </div>
    <ng-template #elseblock>
        <app-barra-lateral-encargado></app-barra-lateral-encargado>
    </ng-template>

    <div id="content-wrapper" class="d-flex flex-column">

        <div id="content" class="main-content">
            <app-barra-superior></app-barra-superior>
        </div>
        <div id="container-fluid overflow-auto" style="max-height: 80vh;">
            <!--<button (click)="volver_atras()" class="btn btn-primary d-flex align-items-right">Volver</button>-->
            <div class="h3 mt-2 ml-2">Documentación Adicional</div>
            
            <div *ngFor="let docu of documentos, let indice = index">
                <div class="mt-2">
                    <div class="small text-gray-500">{{docu?.nombre}}
                    <p></p>
                    <button class="btn btn-success btn-sm btn-block" style="width: 150px;" (click)="descargar_documento(docu.key)">Descargar</button>
                    <div *ngIf="esalumno==0">
                        <button class="btn btn-danger btn-lg btn-block" style="width: 150px;" (click)="eliminar(docu.id, indice)">Eliminar</button>
                    </div>
                </div>
            </div>  
        </div>
        <p></p>
        <div *ngIf="esalumno==0">
            <app-subir-documento-encargado
            [id_carrera]="id_carrera" [id_encargado]="id_encargado" ></app-subir-documento-encargado>
        </div>
    </div>
</div>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<app-logout-modal></app-logout-modal>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<!-- <script src="vendor/datatables/jquery.dataTables.min.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script> -->

<!-- Page level custom scripts -->
<script src="js/demo/datatables-demo.js"></script>