<h1>{{alumno.Nombre}} {{alumno.Apellido}}</h1>
<p>Rut: {{alumno.rut}}</p>

<!-- 
<p>Rol: {{alumno.rol}} </p>
<p>Correo: {{alumno.correo}}<p/>

<div>
    <h1>Practica #1:</h1>
    <p>Nombre Empresa: {{NOMBREEMPRESA}}</p>
    <p>Rut Empresa: {{RUTEMPRESA}}</p>
    <p>Nombre Supervisor: {{NOMBRESUPERVISOR}}</p>
    <p>Correo Supervisor: {{CORREOSUPERVISOR}}</p>
    <p>Fecha Inicio: {{FECHAINICIO}}>/p>
    <p>Fecha Término: {{FECHATERMINO}}</p>
    <p>Estado Práctica: {{alumno.Practica_1}}</p>
    <p>Nota: {{NOTA}}</p>
    <p>Informe evaluación: {{INFORMEFINAL}}</p>
    
    <div [ngSwitch]="alumno.Practica_1">
    <button *ngSwitchCase="'En Desarrollo'" routerLink="/alumno/{{alumno.Id}}/finalizacion/1">Solicitar Revisión</button>
    <button *ngSwitchCase="'No cursada'" routerLink = "/alumno/{{alumno.Id}}/registro/1">Ingresar Práctica</button>
    <div *ngSwitchDefault></div>
    </div>  
</div>

<div>
    <h1>Practica #2:</h1>
    <p>Nombre Empresa: {{NOMBREEMPRESA}}</p>
    <p>Rut Empresa: {{RUTEMPRESA}}</p>
    <p>Nombre Supervisor: {{NOMBRESUPERVISOR}}</p>
    <p>Correo Supervisor: {{CORREOSUPERVISOR}}</p>
    <p>Fecha Inicio: {{FECHAINICIO}}>/p>
    <p>Fecha Término: {{FECHATERMINO}}</p>
    <p>Estado Práctica: {{alumno.Practica_2}}</p>
    <p>Nota: {{NOTA}}</p>
    <p>Informe evaluación: {{INFORMEFINAL}}</p>
    
    <div [ngSwitch]="alumno.Practica_2">
    <button *ngSwitchCase="'En Desarrollo'" routerLink="/alumno/{{alumno.Id}}/finalizacion/2">Solicitar Revisión</button>
    <button *ngSwitchCase="'No cursada'" routerLink = "/alumno/{{alumno.Id}}/registro/2">Ingresar Práctica</button>
    <div *ngSwitchDefault></div>
    </div>  
</div>
-->


<p>Estado Práctica 1: {{alumno.Practica_1}}</p>
<div [ngSwitch]="alumno.Practica_1">
    <button *ngSwitchCase="'En Desarrollo'" routerLink="/alumno/{{alumno.Id}}/finalizacion/1">Solicitar Revisión</button>
    <button *ngSwitchCase="'No cursada'" routerLink = "/alumno/{{alumno.Id}}/registro/1">Ingresar Práctica</button>
    <div *ngSwitchDefault></div>
</div>

<p>Estado Práctica 2: {{alumno.Practica_2}}</p>
<div [ngSwitch]="alumno.Practica_2">
    <button *ngSwitchCase="'En Desarrollo'" routerLink="/alumno/{{alumno.Id}}/finalizacion/2">Solicitar Revisión</button>
    <button *ngSwitchCase="'No Cursada'" routerLink = "/alumno/{{alumno.Id}}/registro/2">Ingresar Práctica</button>
    <div *ngSwitchDefault></div>
</div>

<button routerLink="" routerLinkActive="active">Volver</button>