.mat-mdc-unelevated-button:not(:disabled, :hover).mat-success,
.mat-mdc-raised-button.mat-success,
.mat-mdc-fab.mat-success,
.mat-mdc-mini-fab.mat-success {
    color: #f0fff3;
    background-color: #155724;
}

.revisionBtn {
   width: 77px;
}