<div class="modal fade" id="crear-encargado-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Asignar</h5>
            </div>
            <div class="modal-body">
                Ingrese correo de encargado a agregar
                <form class="asignacion" [formGroup]="encargadoForm">
                    <div class="form-group">
                        <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                            placeholder="Correo Electrónico" formControlName="email" name="email">
                        <div *ngIf="encargadoForm.controls['email'].invalid && (encargadoForm.controls['email'].dirty || encargadoForm.controls['email'].touched)"
                            class="alert alert-danger">
                            <p *ngIf="encargadoForm.controls['email'].errors?.['required']">
                                Se requiere correo
                            </p>
                        </div>
                    </div>
                </form>
                

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <button id="myBtn" type="submit" class="btn btn-primary" (click)="crear()" data-dismiss="modal">
                    Enviar
                </button>   
            </div>
        </div>
    </div>
</div>
