<table datatable [dtOptions]="dtOptions" class="row-border hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Rut</th>
            <th>Practica 1</th>
            <th>Practica 2</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let people of alumnos;" routerLink="/tabla/{{people.Id}}">
            <td>{{people.Nombre}}</td>
            <td>{{people.Apellido}}</td>
            <td>{{people.rut}}</td>
            <td>{{people.Practica_1}}</td>
            <td>{{people.Practica_2}}</td>
        </tr>
    </tbody>
</table>
<button routerLink=""> Volver </button>