<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
</head>

<body id="page-top">
    <div id="wrapper">

        <!-- Sidebar -->
        <app-barra-lateral-encargado></app-barra-lateral-encargado>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content" class="main-content">

                <!-- Topbar -->
                <app-barra-superior></app-barra-superior>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="row">
                        <div class="col-lg-10">
                            <h1 class="h3 mb-2 text-gray-800">{{ practica?.estudiante?.usuario.nombre }} <br> {{
                                practica?.modalidad?.config_practica?.nombre }}</h1>
                        </div>
                        <div class="col-lg-1">
                            <button type="button" class="btn btn-primary btn-lg btn-block"
                                onclick="window.history.back();">Volver</button>
                        </div>
                    </div>
                    <!-- Fila de "Tarjetas" -->
                    <div class="row">
                        <!-- Tarjeta de Estado -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Estado</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800"> {{ practica?.estado }}
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <!-- BUSCAR ICONOS APROPIADOS? <i class="fas fa-calendar fa-2x text-gray-300"></i> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Tarjeta de Empresa -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Empresa</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{
                                                practica?.empresa?.nombre_empresa }}</div>
                                        </div>
                                        <div class="col-auto">
                                            <!-- <i class="fas fa-dollar-sign fa-2x text-gray-300"></i> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Tarjeta de Supervisor -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Supervisor</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{
                                                practica?.supervisor?.nombre }}</div>
                                        </div>
                                        <div class="col-auto">
                                            <!-- <i class="fas fa-comments fa-2x text-gray-300"></i> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Tarjeta de Progreso -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                Modalidad</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{
                                                practica?.modalidad?.tipo_modalidad}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <!-- <i class="fas fa-comments fa-2x text-gray-300"></i> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                    <!-- Fila de Información general y Archivos -->
                    <div class="row">
                        <!-- Tarjeta Información general -->
                        <div class="col-lg-6">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Accordion -->
                                <a href="#collapseCardGeneral" class="d-block card-header py-3" data-toggle="collapse"
                                    role="button" aria-expanded="true" aria-controls="collapseCardGeneral">
                                    <h6 class="m-0 font-weight-bold text-primary">Información General</h6>
                                </a>
                                <!-- Card Content - Collapse -->
                                <div class="collapse" id="collapseCardGeneral">
                                    <div class="card-body">
                                        <table style="width:80%">
                                            <tr>
                                                <td>Correo Estudiante:</td>
                                                <td>{{ practica?.estudiante?.usuario.correo }}</td>
                                            </tr>
                                            <tr>
                                                <td>Correo Supervisor:</td>
                                                <td>{{ practica?.supervisor?.correo }}</td>
                                            </tr>
                                            <tr>
                                                <td>Fecha Inicio:</td>
                                                <td>{{ practica?.fecha_inicio | date: 'dd/MM/yyyy' }}</td>
                                            </tr>
                                            <tr>
                                                <td>Fecha Termino:</td>
                                                <td>{{ practica?.fecha_termino | date: 'dd/MM/yyyy' }}</td>
                                            </tr>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div><!-- Fin Tarjeta Información general -->

                        <!-- Tarjeta con 4 botones: aprobar, reprobar, generar pdf y resumir informe alumno-->
                        <div class="col-lg-6">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Accordion -->
                                <a href="#collapseCardAcciones" class="d-block card-header py-3" data-toggle="collapse"
                                    role="button" aria-expanded="true" aria-controls="collapseCardAcciones">
                                    <h6 class="m-0 font-weight-bold text-primary">Acciones</h6>
                                </a>
                                <!-- Card Content - Collapse -->
                                <div class="collapse" id="collapseCardAcciones">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-5">
                                                <button type="button" class="btn btn-success btn-lg btn-block"
                                                    [disabled]="!botones_habilitados"
                                                    (click)="aprobar(practica?.estudiante?.id_usuario, practica?.estudiante?.id, practica?.modalidad?.id, 1)">Aprobar</button>
                                            </div>
                                            <div class="col-lg-5">
                                                <button type="button" class="btn btn-danger btn-lg btn-block"
                                                    [disabled]="!botones_habilitados"
                                                    (click)="aprobar(practica?.estudiante?.id_usuario, practica?.estudiante?.id, practica?.modalidad?.id, 0)">Reprobar</button>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-5">
                                                <app-boton-solicitar-archivo></app-boton-solicitar-archivo>
                                            </div>
                                            <div class="col-lg-5">
                                                <button type="button" class="btn btn-primary btn-lg btn-block">Resumir
                                                    Informe Estudiante</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- Fin Fila -->

                    <div class="row">
                        <!-- Tarjeta Informes -->
                        <div class="col-lg-6">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Accordion -->
                                <a href="#collapseCardInformes" class="d-block card-header py-3" data-toggle="collapse"
                                    role="button" aria-expanded="true" aria-controls="collapseCardInformes">
                                    <h6 class="m-0 font-weight-bold text-primary">Informes Realizados</h6>
                                </a>
                                <!-- Card Content - Collapse -->
                                <div class="collapse" id="collapseCardInformes">
                                    <div class="card-body">
                                        <div class="overflow-auto">
                                            <div class="table-responsive ">
                                                <table class="table table-bordered hoverTable" id="dataTable"
                                                    width="100%" cellspacing="0">
                                                    <thead>
                                                        <tr>
                                                            <th>Tipo</th>
                                                            <th>Horas Trabajadas</th>
                                                            <th>Fecha Subido</th>
                                                            <th>Ver Informe</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let informe of informes;">
                                                            <td>{{ informe.config_informe.tipo_informe }}</td>
                                                            <td>{{ informe.horas_trabajadas }}</td>
                                                            <td>{{ informe.fecha | date: 'dd/MM/yyyy' }}</td>
                                                            <td>
                                                                <a class="nostyle"
                                                                    href="/informe/{{practica.id}}/{{informe.id}}">
                                                                    <button class="btn btn-primary btn-sm btn-block">
                                                                        Ver Informe
                                                                    </button>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Fin Tarjeta Informes -->

                        <!-- Tarjeta Archivos -->
                        <div class="col-lg-6">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Accordion -->
                                <a href="#collapseCardArchivos" class="d-block card-header py-3" data-toggle="collapse"
                                    role="button" aria-expanded="true" aria-controls="collapseCardArchivos">
                                    <h6 class="m-0 font-weight-bold text-primary">Archivos Subidos</h6>
                                </a>
                                <!-- Card Content - Collapse -->
                                <div class="collapse" id="collapseCardArchivos">
                                    <div class="card-body">
                                        <div class="overflow-auto">
                                            <div class="table-responsive">
                                                <table class="table table-bordered hoverTable" id="dataTable"
                                                    width="100%" cellspacing="0">
                                                    <thead>
                                                        <tr>
                                                            <th>Archivo</th>
                                                            <th>Formato</th>
                                                            <th>Tipo Solicitud</th>
                                                            <th>Descargar</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let doc of documentos;">
                                                            <td>{{doc.solicitud_documento.nombre_solicitud}}</td>
                                                            <td>{{doc.solicitud_documento.tipo_archivo}}</td>
                                                            <td>Normal</td>
                                                            <!--add button that calls the function descargar documento with the parameter doc.key-->
                                                            <td><button class="btn btn-primary btn-sm btn-block"
                                                                    (click)="descargar_documento(doc.id, doc_str)">Descargar</button>
                                                            </td>
                                                        </tr>
                                                        <tr *ngFor="let doc_extra of documento_extras;">
                                                            <td>{{doc_extra.nombre_solicitud}}</td>
                                                            <td>{{doc_extra.tipo_archivo}}</td>
                                                            <td>Extra</td>
                                                            <td><button class="btn btn-primary btn-sm btn-block"
                                                                    (click)="descargar_documento(doc_extra.id, doc_extra_str)">Descargar</button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Fin Tarjeta Archivos -->
                    </div><!-- Fin Fila -->

                    <div class="row">
                        <!-- Tarjeta Evaluación -->
                        <div class="col-lg-6">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Accordion -->
                                <a href="#collapseCardEvaluacion" class="d-block card-header py-3"
                                    data-toggle="collapse" role="button" aria-expanded="true"
                                    aria-controls="collapseCardEvaluacion">
                                    <h6 class="m-0 font-weight-bold text-primary">Evaluación del Supervisor</h6>
                                </a>
                                <!-- Card Content - Collapse -->
                                <div class="collapse" id="collapseCardEvaluacion">
                                    <div class="card-body">
                                        <div class="overflow-auto">
                                            <div class="table-responsive ">
                                                <table class="table table-bordered hoverTable" id="dataTable"
                                                    width="100%" cellspacing="0">
                                                    <thead>
                                                        <tr>
                                                            <th>Tipo</th>
                                                            <th>Evaluacion</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let eval of evaluaciones;">
                                                            <td>{{eval.pregunta_supervisor?.enunciado}}</td>
                                                            <td>{{eval.respuesta}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Fin Tarjeta Evaluación -->

                        <!-- Tarjeta de otras respuestas del supervisor -->
                        <div class="col-lg-6">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Accordion -->
                                <a href="#collapseCardSupervisor" class="d-block card-header py-3"
                                    data-toggle="collapse" role="button" aria-expanded="true"
                                    aria-controls="collapseCardSupervisor">
                                    <h6 class="m-0 font-weight-bold text-primary">Reseñas del Supervisor</h6>
                                </a>
                                <!-- Card Content - Collapse -->
                                <div class="collapse" id="collapseCardSupervisor">
                                    <div class="card-body" *ngIf="data_supervisor_rdy;else supervisor_data">
                                        <div class="overflow-auto">
                                            <div class="table-responsive ">
                                                <table class="table table-bordered hoverTable" id="dataTable"
                                                    width="100%" cellspacing="0">
                                                    <thead>
                                                        <tr>
                                                            <th>Enunciado</th>
                                                            <th>Respuesta</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let resp of respuestas_sup_parsed;">
                                                            <td>{{resp[1]}}</td>
                                                            <td *ngIf="resp[0];else textoSolo">
                                                                {{resp[2]}}
                                                            </td>
                                                            <ng-template #textoSolo>
                                                                <td>
                                                                    {{resp[2][0]}}
                                                                    <span class="bg-gradient-success">
                                                                        {{resp[2][1]}}
                                                                    </span>
                                                                    {{resp[2][2]}}
                                                                </td>
                                                            </ng-template>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <ng-template #supervisor_data>
                                        <div class="spinner-border" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </div><!-- Fin Tarjeta Otras respuestas supervisor -->
                    </div><!-- Fin Fila -->

                    <div class="row">
                        <!-- Tarjeta Consistencia -->
                        <div class="col-lg-12">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Accordion -->
                                <a href="#collapseCardConsistencias" class="d-block card-header py-3"
                                    data-toggle="collapse" role="button" aria-expanded="true"
                                    aria-controls="collapseCardConsistencias">
                                    <h6 class="m-0 font-weight-bold text-primary">Consistencia de Informes</h6>
                                </a>
                                <!-- Card Content - Collapse -->
                                <div class="collapse" id="collapseCardConsistencias">
                                    <div class="card-body">
                                        <div class="overflow-auto_consistencia">
                                            <!-- tarjetas internas consistencia_informe y consistencia_nota-->
                                            <div class="row" style="max-width: 100%;">
                                                <div class="col-xl-3"></div>
                                                <div class="col-xl-2 col-md-6 mb-4">
                                                    <div class="card border-left-success shadow h-100 py-2">
                                                        <div class="card-body">
                                                            <div class="row no-gutters align-items-center">
                                                                <div class="col mr-2">
                                                                    <div
                                                                        class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                                        Consistencia Informe</div>
                                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                                        {{ practica?.consistencia_informe }}
                                                                    </div>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <!--  <i class="fas fa-calendar fa-2x text-gray-300"></i> -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-2"></div>
                                                <div class="col-xl-2 col-md-6 mb-4">
                                                    <div class="card border-left-success shadow h-100 py-2">
                                                        <div class="card-body">
                                                            <div class="row no-gutters align-items-center">
                                                                <div class="col mr-2">
                                                                    <div
                                                                        class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                                        Consistencia Nota</div>
                                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                                        {{ practica?.consistencia_nota }}</div>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <!--  <i class="fas fa-calendar fa-2x text-gray-300"></i> -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!-- Fin Tarjetas de consistencia -->
                                            </div><!-- Fin de la fila -->

                                            <!-- make two tables-->
                                            <div class="row">
                                                <div class="col-xl-1"></div>
                                                <div class="col-xl-5">
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered hoverTable" id="dataTable"
                                                            width="100%" cellspacing="0">
                                                            <thead>
                                                                <tr>
                                                                    <th>Textos más relevantes del Alumno</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let resp of respuestas_supervisor;">
                                                                    <td>{{resp.pregunta_supervisor?.enunciado}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="col-xl-5">
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered hoverTable" id="dataTable"
                                                            width="100%" cellspacing="0">
                                                            <thead>
                                                                <tr>
                                                                    <th>Textos más relevantes del Supervisor</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let resp of respuestas_supervisor;">
                                                                    <td>{{resp.pregunta_supervisor?.enunciado}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                            </div><!-- Fin Tarjeta interna de consistencia-->

                        </div><!-- Fin Tarjeta Consistencia -->
                    </div><!-- Fin Fila -->
                </div>

            </div>
            <!-- End of Main Content -->



        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <app-logout-modal></app-logout-modal>
</body>