.overflow-auto {
    max-height: 200px;
    font-size: medium;
}

.overflow-auto_consistencia {
    max-height: 300px;
    font-size: medium;
}

.m-0 {
    font-size: medium;
}

a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.texto {
    text-align: left;
}

.numero {
    text-align: right;
}

.destacar {
    background-color: #EBD539;
    display: inline;
}