.overflow-auto{
    max-height: 150px;
    font-size: small
}

.overflow-auto_consistencia{
    max-height: 300px;
    font-size: small
}

 .m-0{
    font-size: medium;
 }

.hoverTable tbody tr :hover{
    background: #f5f5f5;
    cursor: pointer;
 }