<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <a class="navbar-brand" href="/alumno/{{idUsuario}}">
        <img id="logo" src="./assets/img/logo.svg" width="70%" height="70%" alt="Praxus">
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Prácticas
    </div>

    <li class="nav-item">
        <a class="nav-link collapsed" href="/alumno/{{idUsuario}}">
            <i class="fas fa-fw fa-cog"></i>
            <span>Mis Practicas</span>
        </a>
    </li>

    <div class="sidebar-heading">
        Estadísticas
    </div>

    <li class="nav-item">
        <a class="same-col nav-link collapsed" href="/estadisticaRamos">
            <i class="fas fa-fw fa-list-alt"></i>
            <span>Ramos más útiles</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="same-col nav-link collapsed" href="/estadisticaEmpresas">
            <i class="fas fa-fw fa-building"></i>
            <span>Empresas</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

</ul>