#holder1 {
    background-color:rgb(221, 221, 221);
    left: 150%;
    top: 40px;
    width: 90%;
}

#holder2 {
    background-color:rgb(221, 221, 221);
    left: 95%;
    top: 40px;
    width: 90%;
}