<h1>{{alumno.nombre}}</h1>
<p>Rut: {{alumno.rut}}</p>
<p>Rol: {{alumno.rol}}</p>
<p>Correo registrado: {{alumno.correo}}</p>


<p>Estado Práctica 1: {{practica_1.estado}}</p>
<div [ngSwitch]="practica_1.estado">
    <button *ngSwitchCase="'En Curso'" routerLink="/alumno/{{alumno.Id}}/finalizacion/1">Solicitar Revisión</button>
    <button *ngSwitchCase="'No cursada'" routerLink = "/alumno/{{alumno.Id}}/iniciarpractica/1">Ingresar Práctica</button>
    <div *ngSwitchDefault></div>
</div>
<br>

<!--
<p>Estado Práctica 2: {{practica_2.estado}}</p>
<div [ngSwitch]="practica_2.estado">
    <button *ngSwitchCase="'En Curso'" routerLink="/alumno/{{alumno.Id}}/finalizacion/2">Solicitar Revisión</button>
    <button *ngSwitchCase="'No Cursada'" routerLink = "/alumno/{{alumno.Id}}/iniciarpractica/2">Ingresar Práctica</button>
    <div *ngSwitchDefault></div>
</div>
-->

<!--POR MIENTRAS-->
<app-iniciar-practica></app-iniciar-practica>

<button routerLink="" routerLinkActive="active">Volver</button>