<h1>{{alumno.nombre}}</h1>
<p>Rut: {{alumno.rut}}</p>
<p>Rol: {{alumno.rol}}</p>
<p>Correo registrado: {{alumno.correo}}</p>

<p>Estado Práctica: {{practica.estado}}</p>
<div [ngSwitch]="practica.estado">
    <app-datos-practica *ngSwitchCase="'En curso'"></app-datos-practica>
    <app-datos-practica *ngSwitchCase="'Evaluada'"></app-datos-practica>
    <p *ngSwitchCase="'Aprobada'"></p>
    <p *ngSwitchCase="'Reprobada'"></p>
    <app-iniciar-practica *ngSwitchDefault>Ingresar Práctica</app-iniciar-practica>
</div>
<br>

<button mat-raised-button color="primary" routerLink="" routerLinkActive="active">Volver</button>