#holder {
    background-color:rgb(221, 221, 221);
    left:10px;
    top: 40px;
    width: 100%;
    scale:0.9;
}

.overflow-auto {
    max-height: 400px;
}

.hoverTable tr td{
    vertical-align: middle;
}

.texto{
    text-align: left;
}

.numero{
    text-align: right;
}