#save {
    margin-top: 30px;
    width: 150px;
    height: fit-content;
}

.btn-add {
    height: auto;
    border-radius: 50%;
    padding: 0px;
    margin-left: 3px;
}

.addRamo {
    font-size: 20px;
    vertical-align: middle;
    padding: 3px 4px;
}

.addRamo:hover {
    color: #f5f5f5;
}