<h2>Informe</h2>

<form class="example-form">

    <mat-form-field>
      <mat-label>Actividades Realizadas</mat-label>
      <textarea matInput style="aspect-ratio: 16/9"  value="informe"></textarea>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Horas Dedicadas</mat-label>
      <input type="number" maxlength="2" min=1 max="24" value="horas">
    </mat-form-field>
</form>

<br>

<p>Subir documentos</p>
<app-file></app-file>


<button mat-raised-button [ngStyle]="{'background-color': '#3f51b5', 'color': 'white'}" (click) = "ingresarInforme()">Ingresar informe y horas</button>

<br>

<br>

<table>
  <td><button mat-raised-button color="warn" [routerLink] = "link_finalizacion" [disabled]="permitir_finalizacion">Finalizar Práctica</button></td>
  <td [width]="220" >&nbsp;</td>
  <td><button class="btn btn-primary volver" mat-raised-button [ngStyle]="{'background-color': '#3f51b5', 'color': 'white'}" routerLink="" routerLinkActive="active">Volver</button></td>
</table>

