<div style="height: 200px;">
  <div class = "row" style="max-width: 100%;">
    <div class = "col-md-12" >
      <table style="width:100%; margin-top: 5px">        
        <tr>
          <td style="width:70%"><mat-label>Actividades Realizadas</mat-label></td><td><mat-label>Horas Dedicadas</mat-label></td></tr>
        <tr>
          <td><textarea matInput style="width:90%; height: 120px"  placeholder="Escriba aquí"></textarea></td>
          <td><input type="number" maxlength="2" min=1 max="24" value="horas"></td>
        </tr>
        <tr>
          <td></td>
          <td style="text-align:right"><button class="btn btn-primary btn-lg btn-block" (click) = "ingresarInforme()">Enviar</button></td>
        </tr>
      </table>
    </div>
  </div>
</div>


<!--
<p>Subir documentos</p>
<app-file></app-file>-->

<!--

<table>
  <td><button mat-raised-button color="warn" [routerLink] = "link_finalizacion" [disabled]="permitir_finalizacion">Finalizar Práctica</button></td>
  <td [width]="220" >&nbsp;</td>
  <td><button class="btn btn-primary volver" mat-raised-button [ngStyle]="{'background-color': '#3f51b5', 'color': 'white'}" routerLink="" routerLinkActive="active">Volver</button></td>
</table>-->

