<div id="wrapper">

    <!-- Sidebar -->
    <app-barra-lateral-encargado></app-barra-lateral-encargado>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content" class="main-content">

            <!-- Topbar -->
            <app-barra-superior></app-barra-superior>

            <!-- Begin Page Content -->

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="h2 mb-2 font-weight-bold text-gray-800">Aptitudes</div>
                <p class="mb-4">Aqui se ve una lista de aptitudes asociadas a cada estudiante en conjunto con el rango de evaluacion de cada aptitud</p>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div>
                            Rango de evaluacion actual: <ng-template [ngIf]="!flag" [ngIfElse]="warning">{{rango}}</ng-template> <ng-template #warning>No hay un rango de evaluacion disponible</ng-template>
                        </div>
                        <br>
                        <button id="myBtn" class="btn btn-primary mb-2" data-target="#rango-modal" data-toggle="modal" [disabled]="!if_aptitud">
                            Actualizar Rango de evaluacion
                        </button>
                        <br>
                        <button id="myBtn" class="btn btn-primary mb-2" data-target="#crear-aptitud-modal" data-toggle="modal">
                            Agregar Aptitud
                        </button>
                        <br>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTable" width="100%"
                                cellspacing="0">
                                <thead>
                                    <tr>
                                        <th style="vertical-align: bottom;">Aptitud</th>
                                        <th style="vertical-align: bottom;">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let aptitud of aptitudes">
                                        <td>{{aptitud.nombre}}</td>
                                        <td>
                                            <button class="btn btn-primary" (click)="editar(aptitud.id, aptitud.nombre, aptitud.id_carrera)" data-target="#editar-aptitud-modal" data-toggle="modal">Editar</button>
                                            <button class="btn btn-danger ml-2" (click)="eliminar(aptitud.id)">Eliminar</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<app-crear-aptitud-modal></app-crear-aptitud-modal>
<app-editar-aptitud-modal [id]="id" [n_aptitud]="n_aptitud" [id_carrera]="id_carrera"></app-editar-aptitud-modal>
<app-rango-modal></app-rango-modal>

<!-- Logout Modal-->

<app-logout-modal></app-logout-modal>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<!-- <script src="vendor/datatables/jquery.dataTables.min.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script> -->

<!-- Page level custom scripts -->
<script src="js/demo/datatables-demo.js"></script>
