<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <a class="navbar-brand" [routerLink]="['/practicas']">
        <img id="logo" src="./assets/img/logo.svg" width="70%" height="70%" alt="Praxus">
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="/practicas">
            <i class="fas fa-fw fa-table"></i>
            <span>Resumen</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Configuracion
    </div>

    <!-- Nav Item - Config Practicas Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
            aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Configurar Prácticas</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <div *ngIf="configs_nombres.length > 0">
                    <h6 class="collapse-header">Practicas Activas:</h6>
                    <a *ngFor="let practica of configs_nombres" class="collapse-item" style="white-space:break-spaces; word-wrap: break-word;"
                        [routerLink]="['/configurar', practica]">{{practica}}
                    </a>
                </div>
                <h6 class="collapse-header">Crear Nueva:</h6>
                <!-- <a class="collapse-item" [routerLink]="['/configurar', 'configBase']">Planilla base</a> -->
                <a class="collapse-item disabled" *ngIf="!ramos_creados">
                    <i class="fas fa-regular fa-plus fa-sm fa-fw mr-2 text-gray-400"></i>
                    <span matTooltip="Deben existir ramos antes de crear practicas nuevas!">Plantilla en blanco</span>
                </a>
                <a class="collapse-item" [routerLink]="['/configurar', 'blanco']" *ngIf="ramos_creados">
                    <i class="fas fa-regular fa-plus fa-sm fa-fw mr-2 text-gray-400"></i>
                    Plantilla en blanco
                </a>
                <div *ngIf="configs_nombres.length > 0">
                    <a class="collapse-item" href="#" data-toggle="modal" data-target="#importModal">
                        <i class="fas fa-regular fa-clipboard fa-sm fa-fw mr-2 text-gray-400"></i>
                        Importar existente
                    </a>
                </div>
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/ramos']">
            <i class="fas fa-fw fa-regular fa-pen-to-square"></i>
            <span>Editar ramos</span></a>
    </li>

    <div class="sidebar-heading">
        Otros
    </div>

    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/estadisticas']">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Estadísticas</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#menu_guias" aria-expanded="true"
            aria-controls="menu_guias">
            <i class="fas fa-fw fa-bookmark"></i>
            <span>Guías</span>
        </a>
        <div id="menu_guias" class="collapse" aria-labelledby="menu_guias" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" [routerLink]="['/guias/info_y_eval_estudiante']" data-toggle="modal" style="white-space:break-spaces; word-wrap: break-word;">
                Evaluar estudiantes
                </a>
                <a class="collapse-item" [routerLink]="['/guias/config-practica']" data-toggle="modal" style="white-space:break-spaces; word-wrap: break-word;">
                Crear configuración de práctica
                </a>
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/encargado/aptitudes']">
            <i class="fas fa-fw fa-regular fa-pen-to-square"></i>
            <span>Editar Aptitudes</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

</ul>

<app-import-modal></app-import-modal>