<mat-list role="list">
    <mat-list-item role="listitem">Nombre Empresa: {{practica.nombre_empresa}}</mat-list-item>
    <mat-list-item role="listitem">Nombre Supervisor: {{practica.nombre_supervisor}}</mat-list-item>
    <mat-list-item role="listitem">Correo Supervisor: {{practica.correo_supervisor}}</mat-list-item>
    <mat-list-item role="listitem">Tipo Práctica: {{config_practica.tipo}}</mat-list-item>
    <mat-list-item role="listitem">Modalidad Práctica: {{config_practica.modalidad}}</mat-list-item>
    <mat-list-item role="listitem">Fecha Inicio: {{practica.fecha_inicio}}</mat-list-item>
</mat-list>

<h2>Informe</h2>

<table class = "example-full-width" cellspacing="0">
  <tr>
    <td>
      <h2>Actividades Realizadas</h2>
        <textarea matInput style="aspect-ratio: 16/9"  id="informe"></textarea>
    </td>
    <td>
      <h2>Horas Dedicadas</h2>
        <input type="number" maxlength="2" min=1 max="24" id="horas">
    </td>
  </tr>   
</table>

<h2>Subir documentos</h2>
<app-file></app-file>


<button mat-raised-button color="primary" (click) = "ingresarInforme()">Ingresar informe y horas</button>

<br>

<br>

<table>
  <td><button style="align-self: flex-end;"mat-raised-button color="primary" [routerLink] = "link_finalizacion" [disabled]="permitir_finalizacion">Finalizar Práctica</button></td>
  <td><button class="btn btn-primary volver" style ="width: 20px; align-self: flex-end;" mat-raised-button color="primary" routerLink="" routerLinkActive="active">Volver</button></td>
</table>
