<mat-list role="list">
    <mat-list-item role="listitem">Nombre Empresa: {{practica.nombre_empresa}}</mat-list-item>
    <mat-list-item role="listitem">Nombre Supervisor: {{practica.nombre_supervisor}}</mat-list-item>
    <mat-list-item role="listitem">Correo Supervisor: {{practica.correo_supervisor}}</mat-list-item>
    <mat-list-item role="listitem">Tipo Práctica: {{config_practica.tipo}}</mat-list-item>
    <mat-list-item role="listitem">Modalidad Práctica: {{config_practica.modalidad}}</mat-list-item>
    <mat-list-item role="listitem">Fecha Inicio: {{practica.fecha_inicio}}</mat-list-item>
    <mat-list-item role="listitem">Cantidad de Horas Invertidas: {{practica.horas}}</mat-list-item>
</mat-list>