thead th{
    text-align: center;
    color: #727272; 
}

tbody tr td{
    vertical-align: middle;
    text-align: center;
    color: #686868;
}

.table-item:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}