<table datatable [dtOptions]="dtOptions" class="row-border hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Rut</th>
            <th>Practica</th>
            <th title="Consistencia Informe">Cons. Informe</th>
            <th title="Consistencia Evaluación">Cons. Evaluación</th>
            <th>Estado</th>
            <th>Aprobacion</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let people of alumnos;" routerLink="/encargado/{{people.id}}">
            <td>{{people.estudiante.nombre}}</td>
            <td>{{people.estudiante.rut}}</td>
            <td>{{people.config_practica.nombre}}</td>
            <td>{{people.consistencia_informe}}</td>
            <td>{{people.consistencia_nota}}</td>
            <td>{{people.estado}}</td>
            <td><app-revision [id_estudiante]="people.id_estudiante" [id_config_practica]="1"></app-revision></td>
        </tr>
    </tbody>
</table>

<!-- 
    <table datatable [dtOptions]="dtOptions" class="row-border hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Rut</th>
            <th>Rol</th>
            <th>Practica 1</th>
            <th>Practica 2</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let people of alumnos;" routerLink="/encargado/{{people.Id}}">
            <td>{{people.Nombre}}</td>
            <td>{{people.Apellido}}</td>
            <td>{{people.rut}}</td>
            <th>{{people.rol}}
            <td>{{people.Practica_1}}</td>
            <td>{{people.Practica_2}}</td>
        </tr>
    </tbody>
</table>
 -->

<button routerLink=""> Volver </button>