.wrapper{
    max-height: 100vh;
}



.col-lg-12{
    max-height: 80vh;
    padding: 0;
}

.cardcontainer{
    max-width: 60%; 
    margin-top: 1%; 
    margin-left: 20%;
    height: 100%;      
}

.cardheader{
    background-color: #3f51b5;
    font-weight: 700;
}


.contenedordemensajes::-webkit-scrollbar{
    display: none;
}

.enviado{
    display: block;
    float: right;
    background-color: #4a6ed3;
    color: white;
    min-width: 50.01%;
    border-radius: 10px;
    text-align: left;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: .5%;
    margin-top: 1%;
}

.recibido{
    display: block;
    float: left;
    background-color: #4a6ed3;
    color: white;
    min-width: 50.01%;
    border-radius: 10px;
    text-align: left;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: .5%;
}

.texto{
    margin: 0;
}

.horafecha{
    margin-bottom: 0;
    text-align: right;
    font-size: small;
}

.card-footer{
    max-height: 12%;
}

.form-control{
    resize: none;
    overflow: auto;
    height: 100%;
}

.disabled-button {
    pointer-events: none;
    opacity: 0.6;
    cursor: not-allowed;
}



