<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <app-barra-lateral-encargado></app-barra-lateral-encargado>

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <app-barra-superior></app-barra-superior>

    </div>

    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content" class="main-content">
        <div class="container-fluid">

          <!------------------------------------------------------ CONFIGURACION GENERAL PRACTICA ----------------------------------------------------------->
          <div class="card shadow" *ngIf="estado == 'configuracion_general'">
            <div class="card-body text-center">
              <div class="h3 mb-3 font-weight-bold text-gray-800 text-center">
                Configuración de práctica
              </div>
              <form *ngIf="flag" class="formulario" [formGroup]="fg" (ngSubmit)="onSubmitPractica()">

                <input type="text" class="form-control text-center input-center" formControlName="nombrePractica">
                <input type="checkbox" formControlName="horas" (change)="habilitarHorasFunc($event)"> Horas
                <input type="checkbox" formControlName="meses" (change)="habilitarMesesFunc($event)"> Meses

                <!-- ========CANTIDAD HORAS======== -->
                <div *ngIf="habilitarHoras">
                  <mat-table [dataSource]="dataSourcePacksHoras">
                    <ng-container formArrayName="arregloHoras">
                      <!-- Cant Column -->
                      <ng-container matColumnDef="opcion_horas">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let element;" [formGroup]="element">
                          <mat-form-field>
                            <input matInput placeholder="Agregar opción de horas" formControlName="opcion_horas"
                              required>
                          </mat-form-field>
                        </mat-cell>
                      </ng-container>

                      <!-- Delete Column -->
                      <ng-container matColumnDef="eliminar">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let element; index as i" [formGroup]="element">

                          <button class="btn btn-danger" type="button" (click)="deleteHoras(i)">
                            <mat-icon matSuffix>Eliminar opción</mat-icon>
                          </button>

                        </mat-cell>
                      </ng-container>

                      <!-- header titles -->

                      <mat-header-row *matHeaderRowDef="displayedColumnsHoras"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumnsHoras;"></mat-row>
                    </ng-container>
                  </mat-table>
                  <div class="button">
                    <button mat-raised-button [ngStyle]="{'background-color': '#4e73df', 'color': 'white'}"
                      type="button" (click)="addHoras()">Agregar opción de horas</button>
                  </div>
                </div>
                <!-- ======FIN CANTIDAD HORAS========== -->

                <!-- ======== CANTIDAD MESES ======== -->
                <div *ngIf="habilitarMeses">
                  <mat-table [dataSource]="dataSourcePacksMeses">
                    <ng-container formArrayName="arregloMeses">
                      <!-- Cant Column -->
                      <ng-container matColumnDef="opcion_meses">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let element;" [formGroup]="element">
                          <mat-form-field>
                            <input matInput placeholder="Agregar opción de meses" formControlName="opcion_meses"
                              required>
                          </mat-form-field>
                        </mat-cell>
                      </ng-container>

                      <!-- Delete Column -->
                      <ng-container matColumnDef="eliminar">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let element; index as i" [formGroup]="element">

                          <button class="btn btn-danger" type="button" (click)="deleteMeses(i)">
                            <mat-icon matSuffix>Eliminar opción</mat-icon>
                          </button>

                        </mat-cell>
                      </ng-container>

                      <!-- header titles -->

                      <mat-header-row *matHeaderRowDef="displayedColumnsMeses"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumnsMeses;"></mat-row>
                    </ng-container>
                  </mat-table>
                  <div class="button">
                    <button mat-raised-button [ngStyle]="{'background-color': '#4e73df', 'color': 'white'}"
                      type="button" (click)="addMeses()">Agregar opción de meses</button>
                  </div>
                </div>
                <!-- ====== FIN CANTIDAD MESES ========== -->

                <br>
                <p> Frecuencia informes de avance (bitácoras) </p>

                <!-- Opciones avance informes-->
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="frecuenciaInformes" id="informeDiario"
                    value="diario" formControlName="frecuenciaInformes">
                  <label class="form-check-label" for="informeDiario">Diario</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="frecuenciaInformes" id="infomreSemanal"
                    value="semanal" formControlName="frecuenciaInformes">
                  <label class="form-check-label" for="infomreSemanal">Semanal</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="frecuenciaInformes" id="informeMensual"
                    value="mensual" formControlName="frecuenciaInformes">
                  <label class="form-check-label" for="informeMensual">Mensual</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="frecuenciaInformes" id="sinAvance"
                    value="sinAvance" formControlName="frecuenciaInformes">
                  <label class="form-check-label" for="sinAvance">Ninguno</label>
                </div>

                <br>
                <br>
                <p> Informe Final </p>

                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="informeFinal" id="informeFinalSI" value="si"
                    formControlName="informeFinal">
                  <label class="form-check-label" for="informeFinalSI">Si</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="informeFinal" id="informeFinalNO" value="no"
                    formControlName="informeFinal">
                  <label class="form-check-label" for="informeFinalNO">No</label>
                </div>
                <div *ngIf="fg.value.informeFinal == 'si'">
                  <p class="mt-2"> Elija el tipo de informe final que desea utilizar</p>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="informeFinalEncuesta" value="encuesta"
                      formControlName="tipoInformeFinal">
                    <label class="form-check-label" for="informeFinalEncuesta">Encuesta</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="informeFinalArchivo" value="archivo"
                      formControlName="tipoInformeFinal">
                    <label class="form-check-label" for="informeFinalArchivo">Archivo</label>
                  </div>
                </div>
                <br>
                <br>

                <p>¿Desea incluir la creación del documento para dirección de estudios?</p>
                <label>
                  <input type="checkbox" formControlName="hay_doc_direst" (change)="habilitarDocDirest($event)">
                  Habilitar
                </label>
                <br>
                <br>
              </form>
            </div>
          </div><!-- Fin tarjeta inicial-->


          <!------------------------------------------------ CONFIGURACION PREGUNTAS AVANCE --------------------------------------------------------------->
          <div class="card shadow" *ngIf="estado == 'informe_avance'">
            <div class="card-body text-center">
              <div class="h3 mb-3 font-weight-bold text-gray-800 text-center">
                Preguntas informe de avance
              </div>
              <div *ngFor="let pregunta_avance of lista_preguntas_avance; let i = index" class="pregunta">
                <div *ngIf="tipos_preguntas_avance[i] == 'abierta'"
                  class="h5 mb-3 font-weight-bold text-gray-800 text-center">
                  {{pregunta_avance}}
                  <br>
                  <br>
                  <textarea cols="30" rows="5" class="form-control input-center text-area"
                    placeholder="Ingrese respuesta..." disabled></textarea>
                </div>
                <div *ngIf="tipos_preguntas_avance[i] == 'casillas' || tipos_preguntas_avance[i] == 'alternativas'"
                  class="h5 mb-3 font-weight-bold text-gray-800 text-center">
                  {{pregunta_avance}}
                </div>

                <div *ngIf="lista_opciones_preguntas_avance[i] != ''" class="form-check">
                  <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4 d-flex justify-content-center">
                      <table>
                        <tr>
                          <div *ngFor="let opcion of splitOpciones(lista_opciones_preguntas_avance[i])">
                            <td>
                              <i *ngIf="tipos_preguntas_avance[i] == 'alternativas'" class="far fa-circle mr-1"></i>
                              <i *ngIf="tipos_preguntas_avance[i] == 'casillas'" class="far fa-square mr-1"></i>
                            </td>
                            <td>
                              <label class="form-check-label">{{opcion}}</label>
                            </td>
                          </div>
                        </tr>
                      </table>
                    </div>
                    <div class="col-4"></div>
                  </div>
                  <form *ngIf="flag" (ngSubmit)="eliminarPreguntaAvance(i)">
                    <button class="btn btn-danger">
                      Eliminar Pregunta
                    </button>
                  </form>
                </div>

                <div *ngIf="lista_opciones_preguntas_avance[i] == ''">
                  <form *ngIf="flag" (ngSubmit)="eliminarPreguntaAvance(i)">
                    <button class="btn btn-danger">
                      Eliminar Pregunta
                    </button>
                  </form>
                </div>

              </div>

              <br>

              <form *ngIf="flag">

                <form *ngIf="flag" class="formulario" [formGroup]="fg" (ngSubmit)="onSubmitAddPreguntaAvance()">

                  <input type="text" [(ngModel)]="pregunta" class="form-control input-center"
                    placeholder="Ingresar Pregunta" formControlName="preguntaFORM">
                  <select name="tipo" id="tipo" (change)="tipoPregunta($event)"
                    class="form-select form-select-sm mb-4 input-center">
                    <option value="0">Seleccione el tipo de respuesta</option>
                    <option value="1">Abierta</option>
                    <option value="2">Casillas</option>
                    <option value="3">Alternativas</option>
                  </select>

                  <div *ngIf="tipo_pregunta==''"> </div>
                  <div *ngIf="tipo_pregunta=='abierta'">
                    <!-- Pregunta abierta -->
                  </div>

                  <div *ngIf="tipo_pregunta=='casillas'">

                    <!-- FORMULARIO OPCIONES -->

                    <br>
                    <!-- <form class="formulario" [formGroup]="fg" (ngSubmit)="onSubmitAddOpcion()"> -->

                    <mat-table [dataSource]="dataSourcePacksOpcionesPregunta">
                      <ng-container formArrayName="arregloOpcionesPreguntas">

                        <!-- Cant Column -->
                        <ng-container matColumnDef="opcion_pregunta">
                          <mat-header-cell *matHeaderCellDef></mat-header-cell>
                          <mat-cell *matCellDef="let element;" [formGroup]="element">
                            <mat-form-field>
                              <input matInput placeholder="Escribir opción" formControlName="opcion_pregunta" required>
                            </mat-form-field>
                          </mat-cell>
                        </ng-container>

                        <!-- Delete Column -->
                        <ng-container matColumnDef="eliminar">
                          <mat-header-cell *matHeaderCellDef></mat-header-cell>
                          <mat-cell *matCellDef="let element; index as i" [formGroup]="element">

                            <button class="btn btn-danger" type="button" (click)="deleteOpcionPregunta(i)">
                              <mat-icon matSuffix>Eliminar opción</mat-icon>
                            </button>

                          </mat-cell>
                        </ng-container>

                        <!-- header titles -->

                        <mat-header-row *matHeaderRowDef="displayedColumnsOpcionesPregunta"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumnsOpcionesPregunta;"></mat-row>
                      </ng-container>
                    </mat-table>
                    <div class="button">
                      <button mat-raised-button [ngStyle]="{'background-color': '#4e73df', 'color': 'white'}"
                        type="button" (click)="addOpcionPregunta()">Agregar Opción</button>
                    </div>
                    <br>
                    <!-- </form> -->

                  </div>


                  <div *ngIf="tipo_pregunta=='alternativas'">


                    <!-- FORMULARIO OPCIONES -->
                    <br>
                    <!-- <form class="formulario" [formGroup]="fg" (ngSubmit)="onSubmitAddOpcion()"> -->

                    <mat-table [dataSource]="dataSourcePacksOpcionesPregunta">
                      <ng-container formArrayName="arregloOpcionesPreguntas">

                        <!-- Cant Column -->
                        <ng-container matColumnDef="opcion_pregunta">
                          <mat-header-cell *matHeaderCellDef></mat-header-cell>
                          <mat-cell *matCellDef="let element;" [formGroup]="element">
                            <mat-form-field>
                              <input matInput placeholder="Escribir opción" formControlName="opcion_pregunta" required>
                            </mat-form-field>
                          </mat-cell>
                        </ng-container>

                        <!-- Delete Column -->
                        <ng-container matColumnDef="eliminar">
                          <mat-header-cell *matHeaderCellDef></mat-header-cell>
                          <mat-cell *matCellDef="let element; index as i" [formGroup]="element">

                            <button class="btn btn-danger" type="button" (click)="deleteOpcionPregunta(i)">
                              <mat-icon matSuffix>Eliminar opción</mat-icon>
                            </button>

                          </mat-cell>
                        </ng-container>

                        <!-- header titles -->

                        <mat-header-row *matHeaderRowDef="displayedColumnsOpcionesPregunta"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumnsOpcionesPregunta;"></mat-row>
                      </ng-container>
                    </mat-table>

                    <div class="button">
                      <button mat-raised-button [ngStyle]="{'background-color': '#4e73df', 'color': 'white'}"
                        type="button" (click)="addOpcionPregunta()">Agregar Opción</button>
                    </div>
                    <br>
                    <!-- </form> -->


                  </div>


                  <button mat-raised-button [ngStyle]="{'background-color': '#4e73df', 'color': 'white'}"
                    class="btn-save" type="submit">Agregar Pregunta</button>
                </form>
              </form>
              <div class="row mt-5 mb-3 align-items-end">
                <div class="col-4"></div>
                <button class="btn btn-primary btn-user btn-block btn-md col-2" (click)="volver()"
                  style="margin-right: 20px;">
                  Volver
                </button>
                <button class="btn btn-primary btn-user btn-block btn-md col-2" (click)="avanzarDesdePreguntasAvance()">
                  Siguiente
                </button>
                <div class="col-4"></div>
              </div>
            </div>
          </div><!-- Fin tarjeta inicial-->

          <!-------------------------------------------------- CONFIGURACION PREGUNTAS INFORME FINAL -------------------------------------------------------------->
          <div class="card shadow" *ngIf="estado == 'informe_final_encuesta'">
            <div class="card-body text-center">
              <div class="h3 mb-3 font-weight-bold text-gray-800 text-center">
                Preguntas informe final
              </div>
              <div *ngFor="let pregunta_final of lista_preguntas_final; let i = index" class="pregunta">
                <div *ngIf="tipos_preguntas_final[i] == 'abierta'"
                  class="h5 mb-3 font-weight-bold text-gray-800 text-center">
                  {{pregunta_final}}
                  <br>
                  <br>
                  <textarea cols="30" rows="5" class="form-control text-area input-center" style="width: auto;"
                    placeholder="Ingrese respuesta..." disabled></textarea>
                </div>
                <div *ngIf="tipos_preguntas_final[i] == 'casillas' || tipos_preguntas_final[i] == 'alternativas'"
                  class="h5 mb-3 font-weight-bold text-gray-800 text-center">
                  {{pregunta_final}}
                </div>

                <div *ngIf="lista_opciones_preguntas_final[i] != ''" class="form-check">
                  <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4 d-flex justify-content-center">
                      <table>
                        <tr>
                          <div *ngFor="let opcion of splitOpciones(lista_opciones_preguntas_final[i])">
                            <td>
                              <i *ngIf="tipos_preguntas_final[i] == 'alternativas'" class="far fa-circle mr-1"></i>
                              <i *ngIf="tipos_preguntas_final[i] == 'casillas'" class="far fa-square mr-1"></i>
                            </td>
                            <td>
                              <label class="form-check-label">{{opcion}}</label>
                            </td>
                          </div>
                        </tr>
                      </table>
                    </div>
                    <div class="col-4"></div>
                  </div>
                  <form *ngIf="flag" (ngSubmit)="eliminarPreguntaFinal(i)">
                    <button class="btn btn-danger">
                      Eliminar Pregunta
                    </button>
                  </form>
                </div>

                <div *ngIf="lista_opciones_preguntas_final[i] == ''">
                  <form *ngIf="flag" (ngSubmit)="eliminarPreguntaFinal(i)">
                    <button class="btn btn-danger">
                      Eliminar Pregunta
                    </button>
                  </form>
                </div>
              </div>

              <!-- <form (ngSubmit)="avanzarDesdePreguntasFinal()"> -->

              <br>

              <form *ngIf="flag">

                <form *ngIf="flag" class="formulario" [formGroup]="fg" (ngSubmit)="onSubmitAddPreguntaFinal()">

                  <input type="text" [(ngModel)]="pregunta" class="form-control input-center"
                    placeholder="Ingresar Pregunta" formControlName="preguntaFORM">
                  <select name="tipo" id="tipo" (change)="tipoPregunta($event)"
                    class="form-select form-select-sm mb-4 input-center">
                    <option value="0">Seleccione el tipo de respuesta</option>
                    <option value="1">Abierta</option>
                    <option value="2">Casillas</option>
                    <option value="3">Alternativas</option>
                  </select>

                  <div *ngIf="tipo_pregunta==''"> </div>
                  <div *ngIf="tipo_pregunta=='abierta'">
                    <!-- Pregunta abierta -->
                  </div>

                  <div *ngIf="tipo_pregunta=='casillas'">

                    <!-- FORMULARIO OPCIONES -->

                    <br>
                    <!-- <form class="formulario" [formGroup]="fg" (ngSubmit)="onSubmitAddOpcion()"> -->

                    <mat-table [dataSource]="dataSourcePacksOpcionesPregunta">
                      <ng-container formArrayName="arregloOpcionesPreguntas">

                        <!-- Cant Column -->
                        <ng-container matColumnDef="opcion_pregunta">
                          <mat-header-cell *matHeaderCellDef></mat-header-cell>
                          <mat-cell *matCellDef="let element;" [formGroup]="element">
                            <mat-form-field>
                              <input matInput placeholder="Escribir opción" formControlName="opcion_pregunta" required>
                            </mat-form-field>
                          </mat-cell>
                        </ng-container>

                        <!-- Delete Column -->
                        <ng-container matColumnDef="eliminar">
                          <mat-header-cell *matHeaderCellDef></mat-header-cell>
                          <mat-cell *matCellDef="let element; index as i" [formGroup]="element">

                            <button class="btn btn-danger" type="button" (click)="deleteOpcionPregunta(i)">
                              <mat-icon matSuffix>Eliminar opción</mat-icon>
                            </button>

                          </mat-cell>
                        </ng-container>

                        <!-- header titles -->

                        <mat-header-row *matHeaderRowDef="displayedColumnsOpcionesPregunta"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumnsOpcionesPregunta;"></mat-row>
                      </ng-container>
                    </mat-table>

                    <div class="button">
                      <button mat-raised-button [ngStyle]="{'background-color': '#4e73df', 'color': 'white'}"
                        type="button" (click)="addOpcionPregunta()">Agregar Opción</button>
                    </div>
                    <br>

                    <!-- </form> -->

                  </div>



                  <div *ngIf="tipo_pregunta=='alternativas'">


                    <!-- FORMULARIO OPCIONES -->
                    <br>
                    <!-- <form class="formulario" [formGroup]="fg" (ngSubmit)="onSubmitAddOpcion()"> -->

                    <mat-table [dataSource]="dataSourcePacksOpcionesPregunta">
                      <ng-container formArrayName="arregloOpcionesPreguntas">

                        <!-- Cant Column -->
                        <ng-container matColumnDef="opcion_pregunta">
                          <mat-header-cell *matHeaderCellDef></mat-header-cell>
                          <mat-cell *matCellDef="let element;" [formGroup]="element">
                            <mat-form-field>
                              <input matInput placeholder="Escribir opción" formControlName="opcion_pregunta" required>
                            </mat-form-field>
                          </mat-cell>
                        </ng-container>

                        <!-- Delete Column -->
                        <ng-container matColumnDef="eliminar">
                          <mat-header-cell *matHeaderCellDef></mat-header-cell>
                          <mat-cell *matCellDef="let element; index as i" [formGroup]="element">

                            <button class="btn btn-danger" type="button" (click)="deleteOpcionPregunta(i)">
                              <mat-icon matSuffix>Eliminar opción</mat-icon>
                            </button>

                          </mat-cell>
                        </ng-container>

                        <!-- header titles -->

                        <mat-header-row *matHeaderRowDef="displayedColumnsOpcionesPregunta"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumnsOpcionesPregunta;"></mat-row>
                      </ng-container>
                    </mat-table>

                    <div class="button">
                      <button mat-raised-button [ngStyle]="{'background-color': '#4e73df', 'color': 'white'}"
                        type="button" (click)="addOpcionPregunta()">Agregar Opción</button>
                    </div>
                    <br>

                    <!-- </form> -->


                  </div>


                  <button mat-raised-button [ngStyle]="{'background-color': '#4e73df', 'color': 'white'}"
                    class="btn-save" type="submit">Agregar Pregunta</button>
                </form>
              </form>
              <div class="row mt-5 mb-3 align-items-end">
                <div class="col-4"></div>
                <button class="btn btn-primary btn-user btn-block btn-md col-2" (click)="volver()"
                  style="margin-right: 20px;">
                  Volver
                </button>
                <button class="btn btn-primary btn-user btn-block btn-md col-2" (click)="avanzarDesdePreguntasFinal()">
                  Siguiente
                </button>
                <div class="col-4"></div>
              </div>
            </div>
          </div><!-- Fin Configuracion preguntas informe final-->

          <!-------------------------------------------------- CONFIGURACION DE ARCHIVO INFORME FINAL -------------------------------------------------------------->
          <div class="card shadow" *ngIf="estado == 'informe_final_archivo'">
            <div class="card-body text-center">
              <div class="h3 mb-3 font-weight-bold text-gray-800 text-center">
                Archivo del Informe Final
              </div>
              <form *ngIf="flag">
                <form *ngIf="flag" class="formulario" [formGroup]="fg" (ngSubmit)="onSubmitArchivoInformeFinal()">

                  Formatos aceptados <br>
                  <input type="checkbox" formControlName="opcion_pdf"> pdf
                  <input type="checkbox" formControlName="opcion_word"> word
                  {{fg.value.formatoInformeFinal}}
                  <br><br>
                  ¿Desea incluir una plantilla de ejemplo? <br>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="plantillaInformeFinal"
                      id="plantillaInformeFinalSI" value="si" formControlName="plantillaInformeFinal">
                    <label class="form-check-label mr-2" for="plantillaInformeFinalSI">Si</label>

                    <input class="form-check-input" type="radio" name="plantillaInformeFinal"
                      id="plantillaInformeFinalNO" value="no" formControlName="plantillaInformeFinal">
                    <label class="form-check-label" for="plantillaInformeFinalNO">No</label>
                  </div>
                  <br>
                  <br>
                  <div *ngIf="fg.value.plantillaInformeFinal == 'si'">
                    <div *ngIf="currentRoute.includes('blanco'); else editandoExistente">
                      Subir Plantilla de ejemplo<br>
                      <app-subir-plantilla-informe-final (key_event)="recibirPlantillaInforme($event)"
                        (file_plantilla_event)="recibirPlantillaInforme($event)"></app-subir-plantilla-informe-final>
                    </div>
                  
                    <ng-template #editandoExistente>
                      <div *ngIf="link_descarga_plantilla != ''; else editandoAntiguaSinPlantilla">
                        <button type = "button" class = "btn btn-primary btn-md mb-2">
                          <a [href]="link_descarga_plantilla" target="_blank" style = "color:white">Descargar plantilla actual</a>
                        </button><br><br>
                        Subir nueva plantilla de ejemplo<br>(Reemplazará la plantilla actual)<br>
                          <app-subir-plantilla-informe-final (key_event)="recibirPlantillaInforme($event)"
                          (file_plantilla_event)="recibirPlantillaInforme($event)"></app-subir-plantilla-informe-final>
                      </div>
                      <ng-template #editandoAntiguaSinPlantilla>
                        Subir Plantilla de ejemplo<br>
                        <app-subir-plantilla-informe-final (key_event)="recibirPlantillaInforme($event)"
                          (file_plantilla_event)="recibirPlantillaInforme($event)"></app-subir-plantilla-informe-final>
                      </ng-template>

                    </ng-template>
                  </div>

                  <div class="row mt-5 mb-3 align-items-end">
                    <div class="col-4"></div>
                    <button class="btn btn-primary btn-user btn-block btn-md col-2" (click)="volver()"
                      style="margin-right: 20px;">
                      Volver
                    </button>
                    <button class="btn btn-primary btn-user btn-block btn-md col-2" type="submit">
                      Siguiente
                    </button>
                    <div class="col-4"></div>
                  </div>
                </form>
              </form>
            </div>
          </div> <!-- Fin Configuracion archivo informe final-->

          <!-------------------------------------------------- CONFIGURACION DOCUMENTOS -------------------------------------------------------------->
          <div class="card shadow" *ngIf="estado == 'solicitud_documentos'">
            <div class="card-body text-center">
              <div class="h3 mb-3 font-weight-bold text-gray-800 text-center">
                Solicitud Documentos
              </div>
              <div *ngFor="let nombre_doc of lista_nombre_solicitud_documentos; let i = index" class="pregunta">
                Solicitud Documento Ingresada:
                <br>
                Nombre: {{nombre_doc}}
                <br>
                Descripción: {{lista_descripcion_solicitud_documentos[i]}}
                <br>
                Tipo documento: {{lista_tipo_solicitud_documentos[i]}}
                <br>
                <form *ngIf="flag" (ngSubmit)="eliminarSolicitudDocumento(i)">
                  <button class="btn btn-danger">
                    Eliminar Solicitud Documento
                  </button>
                </form>


              </div>

              <form *ngIf="flag" (ngSubmit)="avanzarDesdeSolicitudDocumentos()">

                <form *ngIf="flag" class="formulario" [formGroup]="fg" (ngSubmit)="onSubmitAddSolicitudDoc()">
                  <input type="text" class="form-control input-center" placeholder="Nombre solicitud"
                    formControlName="nombre_solicitud_documentos">
                  <textarea rows="3" class="form-control input-center text-area" placeholder="Descripción solicitud"
                    formControlName="descripcion_solicitud_documentos"></textarea>
                  <label for="dropdown">Tipo de documento:</label>
                  <select class="form-select input-center" id="dropdown" placeholder="Tipo documento"
                    formControlName="tipo_solicitud_documentos">
                    <option value="pdf">PDF</option>
                    <option value="jpg">JPG</option>
                    <option value="xlsx">Excel</option>
                    <option value="docx">Word</option>
                  </select>
                  <!-- <input class="form-control input-center" formControlName="tipo_solicitud_documentos" placeholder="Tipo documento"> -->


                  <!-- <input type="text" class="form-control input-center" placeholder="Tipo documento"
                    formControlName="tipo_solicitud_documentos"> -->
                  <!-- deberia ser un dropdown? -->

                  <button mat-raised-button [ngStyle]="{'background-color': '#4e73df', 'color': 'white'}"
                    class="btn-save" type="submit">
                    Agregar solicitud de documento
                  </button>
                </form>
              </form>
              <div class="row mt-5 mb-3 align-items-end">
                <div class="col-4"></div>
                <button class="btn btn-primary btn-user btn-block btn-md col-2" (click)="volver()"
                  style="margin-right: 20px;">
                  Volver
                </button>
                <button class="btn btn-primary btn-user btn-block btn-md col-2"
                  (click)="avanzarDesdeSolicitudDocumentos()">
                  Siguiente
                </button>
                <div class="col-4"></div>
              </div>
            </div>
          </div><!-- Fin tarjeta inicial-->

          <!-------------------------------------------------- CONFIGURACION  PREGUNTAS ENCUESTA -------------------------------------------------------------->
          <div class="card shadow" *ngIf="estado == 'encuesta_final'">
            <div class="card-body text-center">
              <div class="h3 mb-3 font-weight-bold text-gray-800 text-center">
                Preguntas Encuesta Practicantes Post-Práctica
              </div>
              <div class="h5 mb-3 text-gray-800 mx-auto w-50 text-center">
                Recuerde que al estudiante ya se le consulta sobre los ramos más útiles en su carrera y se le pide que
                califique la empresa donde realizó su práctica.
              </div>
              <div *ngFor="let pregunta_encuesta of lista_preguntas_encuesta; let i = index" class="pregunta">
                <div *ngIf="tipos_preguntas_encuesta[i] == 'abierta'"
                  class="h5 mb-3 font-weight-bold text-gray-800 text-center">
                  {{pregunta_encuesta}}
                  <br>
                  <br>
                  <textarea cols="30" rows="5" class="form-control input-center text-area"
                    placeholder="Ingrese respuesta..." disabled></textarea>
                </div>
                <div *ngIf="tipos_preguntas_encuesta[i] == 'casillas' || tipos_preguntas_encuesta[i] == 'alternativas'"
                  class="h5 mb-3 font-weight-bold text-gray-800 text-center">
                  {{pregunta_encuesta}}
                </div>

                <div *ngIf="lista_opciones_preguntas_encuesta[i] != ''">
                  <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4 d-flex justify-content-center">
                      <table>
                        <tr>
                          <div *ngFor="let opcion of splitOpciones(lista_opciones_preguntas_encuesta[i])">
                            <td>
                              <i *ngIf="tipos_preguntas_encuesta[i] == 'alternativas'" class="far fa-circle mr-1"></i>
                              <i *ngIf="tipos_preguntas_encuesta[i] == 'casillas'" class="far fa-square mr-1"></i>
                            </td>
                            <td>
                              <label class="form-check-label">{{opcion}}</label>
                            </td>
                          </div>
                        </tr>
                      </table>
                    </div>
                    <div class="col-4"></div>
                  </div>
                  <form *ngIf="flag" (ngSubmit)="eliminarPreguntaEncuesta(i)">
                    <button class="btn btn-danger">
                      Eliminar Pregunta
                    </button>
                  </form>
                </div>

                <div *ngIf="lista_opciones_preguntas_encuesta[i] == ''">
                  <form *ngIf="flag" (ngSubmit)="eliminarPreguntaEncuesta(i)">
                    <button class="btn btn-danger">
                      Eliminar Pregunta
                    </button>
                  </form>
                </div>
              </div>

              <form *ngIf="flag">

                <form *ngIf="flag" class="formulario" [formGroup]="fg" (ngSubmit)="onSubmitAddPreguntaEncuesta()">

                  <input type="text" [(ngModel)]="pregunta" class="form-control input-center"
                    placeholder="Ingresar Pregunta" formControlName="preguntaFORM">
                  <select name="tipo" id="tipo" (change)="tipoPregunta($event)"
                    class="form-select form-select-sm mb-4 input-center">
                    <option value="0">Seleccione el tipo de respuesta</option>
                    <option value="2">Casillas</option>
                    <option value="3">Alternativas</option>
                  </select>

                  <div *ngIf="tipo_pregunta==''"> </div>
                  <div *ngIf="tipo_pregunta=='abierta'">
                    <!-- Pregunta abierta -->
                  </div>

                  <div *ngIf="tipo_pregunta=='casillas'">

                    <!-- FORMULARIO OPCIONES -->

                    <br>
                    <!-- <form class="formulario" [formGroup]="fg" (ngSubmit)="onSubmitAddOpcion()"> -->

                    <mat-table [dataSource]="dataSourcePacksOpcionesPregunta">
                      <ng-container formArrayName="arregloOpcionesPreguntas">

                        <!-- Cant Column -->
                        <ng-container matColumnDef="opcion_pregunta">
                          <mat-header-cell *matHeaderCellDef></mat-header-cell>
                          <mat-cell *matCellDef="let element;" [formGroup]="element">
                            <mat-form-field>
                              <input matInput placeholder="Escribir opción" formControlName="opcion_pregunta" required>
                            </mat-form-field>
                          </mat-cell>
                        </ng-container>

                        <!-- Delete Column -->
                        <ng-container matColumnDef="eliminar">
                          <mat-header-cell *matHeaderCellDef></mat-header-cell>
                          <mat-cell *matCellDef="let element; index as i" [formGroup]="element">

                            <button class="btn btn-danger" type="button" (click)="deleteOpcionPregunta(i)">
                              <mat-icon matSuffix>Eliminar opción</mat-icon>
                            </button>

                          </mat-cell>
                        </ng-container>

                        <!-- header titles -->

                        <mat-header-row *matHeaderRowDef="displayedColumnsOpcionesPregunta"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumnsOpcionesPregunta;"></mat-row>
                      </ng-container>
                    </mat-table>

                    <div class="button">
                      <button mat-raised-button [ngStyle]="{'background-color': '#4e73df', 'color': 'white'}"
                        type="button" (click)="addOpcionPregunta()">Agregar Opción</button>
                    </div>
                    <br>

                    <!-- </form> -->

                  </div>



                  <div *ngIf="tipo_pregunta=='alternativas'">


                    <!-- FORMULARIO OPCIONES -->
                    <br>
                    <!-- <form class="formulario" [formGroup]="fg" (ngSubmit)="onSubmitAddOpcion()"> -->

                    <mat-table [dataSource]="dataSourcePacksOpcionesPregunta">
                      <ng-container formArrayName="arregloOpcionesPreguntas">

                        <!-- Cant Column -->
                        <ng-container matColumnDef="opcion_pregunta">
                          <mat-header-cell *matHeaderCellDef></mat-header-cell>
                          <mat-cell *matCellDef="let element;" [formGroup]="element">
                            <mat-form-field>
                              <input matInput placeholder="Escribir opción" formControlName="opcion_pregunta" required>
                            </mat-form-field>
                          </mat-cell>
                        </ng-container>

                        <!-- Delete Column -->
                        <ng-container matColumnDef="eliminar">
                          <mat-header-cell *matHeaderCellDef></mat-header-cell>
                          <mat-cell *matCellDef="let element; index as i" [formGroup]="element">

                            <button class="btn btn-danger" type="button" (click)="deleteOpcionPregunta(i)">
                              <mat-icon matSuffix>Eliminar opción</mat-icon>
                            </button>

                          </mat-cell>
                        </ng-container>

                        <!-- header titles -->

                        <mat-header-row *matHeaderRowDef="displayedColumnsOpcionesPregunta"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumnsOpcionesPregunta;"></mat-row>
                      </ng-container>
                    </mat-table>

                    <div class="button">
                      <button mat-raised-button [ngStyle]="{'background-color': '#4e73df', 'color': 'white'}"
                        type="button" (click)="addOpcionPregunta()">Agregar Opción</button>
                    </div>
                    <br>

                    <!-- </form> -->


                  </div>


                  <!-- boton agregar pregunta -->

                  <button mat-raised-button [ngStyle]="{'background-color': '#4e73df', 'color': 'white'}"
                    class="btn-save" type="submit">Agregar Pregunta</button>


                </form>
              </form>
              <div class="row mt-5 mb-3 align-items-end">
                <div class="col-4"></div>
                <button class="btn btn-primary btn-user btn-block btn-md col-2" (click)="volver()"
                  style="margin-right: 20px;">
                  Volver
                </button>
                <button class="btn btn-primary btn-user btn-block btn-md col-2"
                  (click)="avanzarDesdePreguntasEncuesta()">
                  Siguiente
                </button>
                <div class="col-4"></div>
              </div>
            </div>
          </div><!-- Fin tarjeta inicial-->

          <!-------------------------------------------------- CONFIGURACION  PREGUNTAS SUPERVISOR -------------------------------------------------------------->
          <div class="card shadow" *ngIf="estado == 'preguntas_supervisor'">
            <div class="card-body text-center">
              <div class="h3 mb-3 font-weight-bold text-gray-800 text-center">
                Preguntas para que supervisor evalúe al practicante
              </div>
              <div *ngIf="hay_doc_direst" class="h5 mb-3 text-gray-800 mx-auto w-50 text-center">
                Debido a que seleccionó la opción para generar documento para DIREST, al supervisor ya se le pregunta
                por las tareas realizadas y las observaciones.
              </div>
              <div *ngFor="let pregunta_supervisor of lista_preguntas_supervisor; let i = index">
                <div *ngIf="tipos_preguntas_supervisor[i] != 'evaluacion'" class="pregunta">
                  <div *ngIf="tipos_preguntas_supervisor[i] == 'abierta'"
                    class="h5 mb-3 font-weight-bold text-gray-800 text-center">
                    {{pregunta_supervisor}}
                    <br>
                    <br>
                    <textarea cols="30" rows="5" class="form-control input-center text-area"
                      placeholder="Ingrese respuesta..." disabled></textarea>
                  </div>
                  <div
                    *ngIf="tipos_preguntas_supervisor[i] == 'casillas' || tipos_preguntas_supervisor[i] == 'alternativas'"
                    class="h5 mb-3 font-weight-bold text-gray-800 text-center">
                    {{pregunta_supervisor}}
                  </div>

                  <div *ngIf="lista_opciones_preguntas_supervisor[i] != ''">
                    <div class="row">
                      <div class="col-4"></div>
                      <div class="col-4 d-flex justify-content-center">
                        <table>
                          <tr>
                            <div *ngFor="let opcion of splitOpciones(lista_opciones_preguntas_supervisor[i])">
                              <td>
                                <i *ngIf="tipos_preguntas_supervisor[i] == 'alternativas'" class="far fa-circle"></i>
                                <i *ngIf="tipos_preguntas_supervisor[i] == 'casillas'" class="far fa-square"></i>
                              </td>
                              <td>
                                <label class="form-check-label">{{opcion}}</label>
                              </td>
                            </div>
                          </tr>
                        </table>
                      </div>
                      <div class="col-4"></div>
                    </div>
                    <form *ngIf="flag" (ngSubmit)="eliminarPreguntaSupervisor(i)">
                      <button class="btn btn-danger">
                        Eliminar Pregunta
                      </button>
                    </form>
                  </div>

                  <div *ngIf="lista_opciones_preguntas_supervisor[i] == ''">
                    <form *ngIf="flag" (ngSubmit)="eliminarPreguntaSupervisor(i)">
                      <button class="btn btn-danger">
                        Eliminar Pregunta
                      </button>
                    </form>
                  </div>
                </div>
              </div>

              <br>

              <form *ngIf="flag" (ngSubmit)="avanzarDesdePreguntasSupervisor()">

                <form *ngIf="flag" class="formulario" [formGroup]="fg" (ngSubmit)="onSubmitAddPreguntaSupervisor()">

                  <input type="text" [(ngModel)]="pregunta" class="form-control input-center"
                    placeholder="Ingresar Pregunta" formControlName="preguntaFORM">
                  <select name="tipo" id="tipo" (change)="tipoPregunta($event)"
                    class="form-select form-select-sm input-center">
                    <option value="0">Seleccione el tipo de respuesta</option>
                    <option value="1">Abierta</option>
                    <option value="2">Casillas</option>
                    <option value="3">Alternativas</option>
                  </select>

                  <div *ngIf="tipo_pregunta==''"> </div>
                  <div *ngIf="tipo_pregunta=='abierta'">
                    <!-- Pregunta abierta -->
                  </div>

                  <div *ngIf="tipo_pregunta=='casillas'">

                    <!-- FORMULARIO OPCIONES -->

                    <br>
                    <!-- <form class="formulario" [formGroup]="fg" (ngSubmit)="onSubmitAddOpcion()"> -->

                    <mat-table [dataSource]="dataSourcePacksOpcionesPregunta">
                      <ng-container formArrayName="arregloOpcionesPreguntas">

                        <!-- Cant Column -->
                        <ng-container matColumnDef="opcion_pregunta">
                          <mat-header-cell *matHeaderCellDef></mat-header-cell>
                          <mat-cell *matCellDef="let element;" [formGroup]="element">
                            <mat-form-field>
                              <input matInput placeholder="Escribir opción" formControlName="opcion_pregunta" required>
                            </mat-form-field>
                          </mat-cell>
                        </ng-container>

                        <!-- Delete Column -->
                        <ng-container matColumnDef="eliminar">
                          <mat-header-cell *matHeaderCellDef></mat-header-cell>
                          <mat-cell *matCellDef="let element; index as i" [formGroup]="element">

                            <button class="btn btn-danger" type="button" (click)="deleteOpcionPregunta(i)">
                              <mat-icon matSuffix>Eliminar opción</mat-icon>
                            </button>

                          </mat-cell>
                        </ng-container>

                        <!-- header titles -->

                        <mat-header-row *matHeaderRowDef="displayedColumnsOpcionesPregunta"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumnsOpcionesPregunta;"></mat-row>
                      </ng-container>
                    </mat-table>

                    <div class="button">
                      <button mat-raised-button [ngStyle]="{'background-color': '#4e73df', 'color': 'white'}"
                        type="button" (click)="addOpcionPregunta()">Agregar Opción</button>
                    </div>
                    <br>

                    <!-- </form> -->

                  </div>



                  <div *ngIf="tipo_pregunta=='alternativas'">


                    <!-- FORMULARIO OPCIONES -->
                    <br>
                    <!-- <form class="formulario" [formGroup]="fg" (ngSubmit)="onSubmitAddOpcion()"> -->

                    <mat-table [dataSource]="dataSourcePacksOpcionesPregunta">
                      <ng-container formArrayName="arregloOpcionesPreguntas">

                        <!-- Cant Column -->
                        <ng-container matColumnDef="opcion_pregunta">
                          <mat-header-cell *matHeaderCellDef></mat-header-cell>
                          <mat-cell *matCellDef="let element;" [formGroup]="element">
                            <mat-form-field>
                              <input matInput placeholder="Escribir opción" formControlName="opcion_pregunta" required>
                            </mat-form-field>
                          </mat-cell>
                        </ng-container>

                        <!-- Delete Column -->
                        <ng-container matColumnDef="eliminar">
                          <mat-header-cell *matHeaderCellDef></mat-header-cell>
                          <mat-cell *matCellDef="let element; index as i" [formGroup]="element">

                            <button class="btn btn-danger" type="button" (click)="deleteOpcionPregunta(i)">
                              <mat-icon matSuffix>Eliminar opción</mat-icon>
                            </button>

                          </mat-cell>
                        </ng-container>

                        <!-- header titles -->

                        <mat-header-row *matHeaderRowDef="displayedColumnsOpcionesPregunta"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumnsOpcionesPregunta;"></mat-row>
                      </ng-container>
                    </mat-table>

                    <div class="button">
                      <button mat-raised-button [ngStyle]="{'background-color': '#4e73df', 'color': 'white'}"
                        type="button" (click)="addOpcionPregunta()">Agregar Opción</button>
                    </div>
                    <br>

                    <!-- </form> -->
                  </div>

                  <div *ngIf="tipo_pregunta=='evaluacion'">

                  </div>




                  <!-- boton agregar pregunta -->

                  <button mat-raised-button [ngStyle]="{'background-color': '#4e73df', 'color': 'white'}"
                    class="btn-save" type="submit">Agregar Pregunta</button>


                </form>
              </form>
              <div class="row mt-5 mb-3 align-items-end">
                <div class="col-4"></div>
                <button class="btn btn-primary btn-user btn-block btn-md col-2" (click)="volver()"
                  style="margin-right: 20px;">
                  Volver
                </button>
                <button class="btn btn-primary btn-user btn-block btn-md col-2"
                  (click)="avanzarDesdePreguntasSupervisor()">
                  Siguiente
                </button>
                <div class="col-4"></div>
              </div>
            </div>
          </div><!-- Fin tarjeta inicial-->

          <!-------------------------------------------------- CONFIGURACION  FINAL -------------------------------------------------------------->
          <div class="card shadow" *ngIf="estado == 'fin_configuracion'">
            <div class="card-body">
              <div class="h4 mb-3 font-weight-bold text-gray-800 text-center">
                Fin configuración práctica
              </div>
              <!-- PEGAR AQUI -->
              <div class="row mt-5 mb-3 align-items-end">
                <div class="col-4"></div>
                <button class="btn btn-primary btn-user btn-block btn-md col-2" (click)="volver()"
                  style="margin-right: 20px;">
                  Volver
                </button>
                <button (click)="mandarDatos()" class="btn btn-primary btn-user btn-block btn-md col-2"
                  *ngIf="currentRoute == '/configurar/blanco'">
                  Terminar
                </button>
                <button data-toggle="modal" data-target="#migrarModal"
                  class="btn btn-primary btn-user btn-block btn-md col-2" *ngIf="currentRoute != '/configurar/blanco'">
                  Terminar
                </button>
                <div class="col-4"></div>
              </div>
            </div>
          </div><!-- Fin tarjeta inicial-->
        </div>
      </div>
    </div>

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<app-migrar-modal [migrarLegal]="migracion_legal" (mandarDatosMigrar)="mandarDatos()"></app-migrar-modal>

<!-- Scroll to Top Button -->
<a class="scroll-to-top rounded" (click)="scrollToTop()">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<app-logout-modal></app-logout-modal>