html, body {
    height: 100%;
  }

body {
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("https://img.freepik.com/premium-vector/seamless-modern-white-texture-background_755228-1141.jpg");
}

.mat-toolbar {
    background-color: #3f51b5;
    color: white;
  }