<div style="width: 500px; place-self: end-start; border: 3px solid blue;">
    <h2>Inscribe tu Práctica</h2>
    <div>
        <table class = "example-full-width" cellspacing="0">
            <tr>
                <td>
                    <input matInput placeholder="Nombre Empresa" type="text" class="form-control" id="nombre_empresa">
                </td>
                <td>
                    <input matInput placeholder="Rut Empresa" type="text" class="form-control" id="rut_empresa">
                </td>
            </tr>   
        </table>

        <br>

        <table class = "example-full-width" cellspacing="0">
            <tr>
                <td>
                    <input matInput placeholder="Nombre Supervisor" type="text" class="form-control" id="nombre_supervisor">                </td>
                <td>
                    <input matInput placeholder="Correo Supervisor" type="text" class="form-control" id="correo_supervisor">                </td>
            </tr>   
        </table>
        
        <br>
        
        Fecha Inicio:
        <input style="width: 150px;" matInput placeholder="dd-mm-aaaa" type="date" class="form-control" id="fecha_inicio">

        <br>

        Selecciona Modalidad en Horas:
        <br>
        <mat-form-field>
            <mat-label>Horas</mat-label>
            <mat-select disableRipple>
                <mat-option *ngFor = "let horas of horas" id="dropdown_horas">{{horas}}></mat-option>
            </mat-select>
        </mat-form-field>

        <br>
        
        <table>
            <td><button class="btn btn-primary" (click)="enviar()" >Enviar</button></td>
            <td><button class="btn btn-primary" style ="width: 20px; align-self: flex-end;" mat-raised-button color="primary" routerLink="" routerLinkActive="active">Volver</button></td>
        </table>

    </div>
</div>
