<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <app-barra-lateral-encargado></app-barra-lateral-encargado>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <app-barra-superior></app-barra-superior>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-4 text-gray-800">Configuracion Practica</h1>

                <form [formGroup]="formdata" (ngSubmit)="AddPractica(formdata.value)">
                    <!-- NOMBRE PRACTICA -->
                    <input *ngIf="config != undefined" type="text" class="form-control col-6" value="config.nombre" formControlName="nombrePractica" >

                    <input type="checkbox" formControlName="horas"> Horas
                    <input type="checkbox" formControlName="meses"> Meses
                    <input type="text" class="form-control col-lg-3 col-6" placeholder="Cantidad de Horas" formControlName="cant_horas">
                    <input type="text" class="form-control col-lg-3 col-6" placeholder="Cantidad de Meses" formControlName="cant_meses">
                    
                    <br>
                    <p> Frecuencia informes de avance (bitacoras) </p>

                    <!-- Opciones avance informes-->
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="frecuenciaInformes" id="informeDiario" value="informeDiario" formControlName="frecuenciaInformes">
                        <label class="form-check-label" for="informeDiario">Diario</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="frecuenciaInformes" id="infomreSemanal" value="infomreSemanal" formControlName="frecuenciaInformes">
                        <label class="form-check-label" for="infomreSemanal">Semanal</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="frecuenciaInformes" id="informeMensual" value="informeMensual" formControlName="frecuenciaInformes">
                        <label class="form-check-label" for="informeMensual">Mensual</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="frecuenciaInformes" id="sinAvance" value="sinAvance" formControlName="frecuenciaInformes">
                        <label class="form-check-label" for="sinAvance">Ninguno</label>
                    </div>
                    
                    <br>
                    <br>
                    <p> Informe Final </p>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="informeFinal" id="informeFinalSI" value="informeFinalSI" formControlName="informeFinal">
                        <label class="form-check-label" for="informeFinalSI">Si</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="informeFinal" id="informeFinalNO" value="informeFinalNO" formControlName="informeFinal">
                        <label class="form-check-label" for="informeFinalNO">No</label>
                    </div>
                    <br>
                    <br>
                    <input type="submit" value="Siguiente">
                </form>

                <!-- Config informes de avance -->
                <br>
                <p> Preguntas informe de avance </p>

                <form [formGroup]="formdata" (ngSubmit)="AddPregunta(formdata.value)">
                    <input type="text" class="form-control col-lg-3 col-6" placeholder="Ingresar Pregunta" formControlName="pregunta">
                    <hr>
                        <select name="tipo" id="tipo" (change) = "tipoPregunta($event)" class="form-select form-select-sm mb-4 col-4"  aria-label="Default select example">
                            <option value="0">Seleccione el tpo de respuesta</option>
                            <option value="1">Abierta</option>
                            <option value="2">Casillas</option>
                            <option value="3">Alternativa</option>
                        </select>

                        <div *ngIf="tipo_pregrunta==''"> </div>
                        <div *ngIf="tipo_pregrunta=='abierta'">
                            Pregunta abierta
                        </div>

                        <div *ngIf="tipo_pregrunta=='casillas'">
                            Cantidad de opciones:
                            <br>
                            <input type="number" min="2" max="10" step="1" class="form-control col-1" (change) ="cantidadOpciones($event)">

                            
                            
                            <input *ngFor="let i of numSequence(cantidad_opciones)" type="text" class="form-control col-lg-3 col-6" placeholder="Ingresar Opcion" formControlName="opciones_pregunta">
                            
                            

                        </div>

                        
                        <div *ngIf="tipo_pregrunta=='alternativas'">
                            Pregunta con alternativas
                            <br>
                            <input type="number" min="2" max="10" step="1" class="form-control col-1" (change) ="cantidadOpciones($event)">


                        </div>
                    <hr>


                    <input type="submit" value="Agregar Pregunta">
                </form>
                

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <app-footer></app-footer>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" (click)="scrollToTop()">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<app-logout-modal></app-logout-modal>