<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <app-barra-lateral-encargado></app-barra-lateral-encargado>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <app-barra-superior></app-barra-superior>

            <!-- Begin Page Content -->

            <!-- CONFIGURACION PRACTICA -->
            <div class="container-fluid">

                <h1 class="h3 mb-4 text-gray-800">Configuracion Practica</h1>

                <form *ngIf="flag" class="formulario" [formGroup]="fg" (ngSubmit)="onSubmitPractica()">

                    <input type="text" class="form-control col-6" formControlName="nombrePractica">
                    <input type="checkbox" formControlName="horas"> Horas
                    <input type="checkbox" formControlName="meses"> Meses
                    <input type="text" class="form-control col-lg-3 col-6" placeholder="Cantidad de Horas" formControlName="cant_horas">
                    <input type="text" class="form-control col-lg-3 col-6" placeholder="Cantidad de Meses" formControlName="cant_meses">
                    <br>
                    <p> Frecuencia informes de avance (bitacoras) </p>

                    <!-- Opciones avance informes-->
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="frecuenciaInformes" id="informeDiario" value="diario" formControlName="frecuenciaInformes">
                        <label class="form-check-label" for="informeDiario">Diario</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="frecuenciaInformes" id="infomreSemanal" value="semanal" formControlName="frecuenciaInformes">
                        <label class="form-check-label" for="infomreSemanal">Semanal</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="frecuenciaInformes" id="informeMensual" value="mensual" formControlName="frecuenciaInformes">
                        <label class="form-check-label" for="informeMensual">Mensual</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="frecuenciaInformes" id="sinAvance" value="sinAvance" formControlName="frecuenciaInformes">
                        <label class="form-check-label" for="sinAvance">Ninguno</label>
                    </div>
                    
                    <br>
                    <br>
                    <p> Informe Final </p>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="informeFinal" id="informeFinalSI" value="true" formControlName="informeFinal">
                        <label class="form-check-label" for="informeFinalSI">Si</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="informeFinal" id="informeFinalNO" value="false" formControlName="informeFinal">
                        <label class="form-check-label" for="informeFinalNO">No</label>
                    </div>
                    <br>
                    <br>

                    <button class="btn-save" type="submit">Siguiente</button>
                </form>
            </div>

            <!-- CONFIGURACION PREGUNTAS AVANCE -->
            <div class="container-fluid">
                <br>

                <p> Preguntas informe de avance </p>

                
                <!-- <li *ngFor="let i of numSequence(lengthArray(lista_preguntas_avance))">
                  esto significa que hay una pregunta           
                </li> -->

                <div *ngFor="let pregunta_avance of lista_preguntas_avance">
                    {{pregunta_avance}}
                </div>

                <br>

                <form *ngIf="flag" class="formulario" [formGroup]="fg" (ngSubmit)="onSubmitAddPreguntaAvance()">

                    <input type="text" class="form-control col-lg-3 col-6" placeholder="Ingresar Pregunta" formControlName="preguntaFORM">
                    <select name="tipo" id="tipo" (change) = "tipoPregunta($event)" class="form-select form-select-sm mb-4 col-4"  aria-label="Default select example">
                        <option value="0">Seleccione el tpo de respuesta</option>
                        <option value="1">Abierta</option>
                        <option value="2">Casillas</option>
                        <option value="3">Alternativa</option>
                    </select>

                    <div *ngIf="tipo_pregunta==''"> </div>
                        <div *ngIf="tipo_pregunta=='abierta'">
                            Pregunta abierta
                        </div>

                    <div *ngIf="tipo_pregunta=='casillas'">

                        <!-- FORMULARIO OPCIONES -->

                        <br>
                        <!-- <form class="formulario" [formGroup]="fg" (ngSubmit)="onSubmitAddOpcion()"> -->

                            <div class="button">
                              <button type="button" (click)="addLesson()">Agregar opción</button>
                            </div>
                          
                            <mat-table [dataSource]="dataSourcePacks">
                              <ng-container formArrayName="promos">
                          
                                <!-- Cant Column -->
                                <ng-container matColumnDef="opcion_pregunta">
                                  <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                  <mat-cell *matCellDef="let element;" [formGroup]="element">
                                    <mat-form-field>
                                      <input matInput placeholder="Escribir opción" formControlName="opcion_pregunta" required>
                                    </mat-form-field>
                                  </mat-cell>
                                </ng-container>
                          
                                <!-- Delete Column -->
                                <ng-container matColumnDef="eliminar">
                                  <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                  <mat-cell *matCellDef="let element; index as i" [formGroup]="element">
                          
                                    <button type="button" (click)="deleteLesson(i)">
                                      <mat-icon matSuffix>Eliminar opción</mat-icon>
                                    </button>
                          
                                  </mat-cell>
                                </ng-container>
                          
                                <!-- header titles -->
                          
                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                              </ng-container>
                            </mat-table>
                          
                          <!-- </form> -->
                        
                    </div>

                    
                    <div *ngIf="tipo_pregunta=='alternativas'">


                        <!-- FORMULARIO OPCIONES -->
                        <br>
                        <!-- <form class="formulario" [formGroup]="fg" (ngSubmit)="onSubmitAddOpcion()"> -->

                            <div class="button">
                              <button type="button" (click)="addLesson()">Agregar opción</button>
                            </div>
                          
                            <mat-table [dataSource]="dataSourcePacks">
                              <ng-container formArrayName="promos">
                          
                                <!-- Cant Column -->
                                <ng-container matColumnDef="opcion_pregunta">
                                  <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                  <mat-cell *matCellDef="let element;" [formGroup]="element">
                                    <mat-form-field>
                                      <input matInput placeholder="Escribir opción" formControlName="opcion_pregunta" required>
                                    </mat-form-field>
                                  </mat-cell>
                                </ng-container>
                          
                                <!-- Delete Column -->
                                <ng-container matColumnDef="eliminar">
                                  <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                  <mat-cell *matCellDef="let element; index as i" [formGroup]="element">
                          
                                    <button type="button" (click)="deleteLesson(i)">
                                      <mat-icon matSuffix>Eliminar opción</mat-icon>
                                    </button>
                          
                                  </mat-cell>
                                </ng-container>
                          
                                <!-- header titles -->
                          
                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                              </ng-container>
                            </mat-table>
                          
                          <!-- </form> -->


                    </div>
                    

                    <button class="btn-save" type="submit">Agregar Pregunta</button>
                </form>
            </div>

            <!-- CONFIGURACION PREGUNTAS INFORME FINAL -->
            <div class="container-fluid">
              <br>

              <p> Preguntas informe final </p>

              <form *ngIf="flag" class="formulario" [formGroup]="fg" (ngSubmit)="onSubmitAddPreguntaFinal()">

                  <input type="text" class="form-control col-lg-3 col-6" placeholder="Ingresar Pregunta" formControlName="preguntaFORM">
                  <select name="tipo" id="tipo" (change) = "tipoPregunta($event)" class="form-select form-select-sm mb-4 col-4"  aria-label="Default select example">
                      <option value="0">Seleccione el tpo de respuesta</option>
                      <option value="1">Abierta</option>
                      <option value="2">Casillas</option>
                      <option value="3">Alternativa</option>
                  </select>

                  <div *ngIf="tipo_pregunta==''"> </div>
                      <div *ngIf="tipo_pregunta=='abierta'">
                          Pregunta abierta
                      </div>

                  <div *ngIf="tipo_pregunta=='casillas'">

                      <!-- FORMULARIO OPCIONES -->

                      <br>
                      <!-- <form class="formulario" [formGroup]="fg" (ngSubmit)="onSubmitAddOpcion()"> -->

                          <div class="button">
                            <button type="button" (click)="addLesson()">Agregar opción</button>
                          </div>
                        
                          <mat-table [dataSource]="dataSourcePacks">
                            <ng-container formArrayName="promos">
                        
                              <!-- Cant Column -->
                              <ng-container matColumnDef="opcion_pregunta">
                                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                <mat-cell *matCellDef="let element;" [formGroup]="element">
                                  <mat-form-field>
                                    <input matInput placeholder="Escribir opción" formControlName="opcion_pregunta" required>
                                  </mat-form-field>
                                </mat-cell>
                              </ng-container>
                        
                              <!-- Delete Column -->
                              <ng-container matColumnDef="eliminar">
                                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                <mat-cell *matCellDef="let element; index as i" [formGroup]="element">
                        
                                  <button type="button" (click)="deleteLesson(i)">
                                    <mat-icon matSuffix>Eliminar opción</mat-icon>
                                  </button>
                        
                                </mat-cell>
                              </ng-container>
                        
                              <!-- header titles -->
                        
                              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                            </ng-container>
                          </mat-table>
                        
                        <!-- </form> -->
                      
                  </div>

                  
                  <div *ngIf="tipo_pregunta=='alternativas'">


                      <!-- FORMULARIO OPCIONES -->
                      <br>
                      <!-- <form class="formulario" [formGroup]="fg" (ngSubmit)="onSubmitAddOpcion()"> -->

                          <div class="button">
                            <button type="button" (click)="addLesson()">Agregar opción</button>
                          </div>
                        
                          <mat-table [dataSource]="dataSourcePacks">
                            <ng-container formArrayName="promos">
                        
                              <!-- Cant Column -->
                              <ng-container matColumnDef="opcion_pregunta">
                                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                <mat-cell *matCellDef="let element;" [formGroup]="element">
                                  <mat-form-field>
                                    <input matInput placeholder="Escribir opción" formControlName="opcion_pregunta" required>
                                  </mat-form-field>
                                </mat-cell>
                              </ng-container>
                        
                              <!-- Delete Column -->
                              <ng-container matColumnDef="eliminar">
                                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                <mat-cell *matCellDef="let element; index as i" [formGroup]="element">
                        
                                  <button type="button" (click)="deleteLesson(i)">
                                    <mat-icon matSuffix>Eliminar opción</mat-icon>
                                  </button>
                        
                                </mat-cell>
                              </ng-container>
                        
                              <!-- header titles -->
                        
                              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                            </ng-container>
                          </mat-table>
                        
                        <!-- </form> -->


                  </div>
                  

                  <button class="btn-save" type="submit">Agregar Pregunta</button>
              </form>
          </div>

            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <app-footer></app-footer>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button


<a class="scroll-to-top rounded" (click)="scrollToTop()">
    <i class="fas fa-angle-up"></i>
</a>
-->
<!-- Logout Modal-->
<app-logout-modal></app-logout-modal>