<div *ngIf="data.tipo == 'comentarios'">
    <h1 style="text-align: center;" mat-dialog-title>Comentarios {{data.nombre_empresa}}</h1>
    <div mat-dialog-content>

        <div *ngIf="data.palabras_clave[0] != null">
            <b>Palabras clave: </b>
            <i *ngFor="let palabra of data.palabras_clave; let i = index">
                {{palabra}}<i *ngIf="data.palabras_clave[i+1] != null">,</i>
            </i>
            <br>
            <br>
        </div>

        <div *ngIf="data.lista_comentarios[0] == null">
            No hay comentarios para mostrar
            <br>
            <br>
        </div>

        <div *ngIf="data.lista_comentarios[0] != null">
            <div *ngFor="let comentario of data.lista_comentarios">
                <div *ngIf="comentario">- {{comentario}}</div>
                <!-- <div *ngIf="comentario.isNumber()" >{{comentario}}</div> -->
                <br>
            </div>
        </div>

    </div>
</div>

<div *ngIf="data.tipo == 'ramos'">
    <h1 style="text-align: center;" mat-dialog-title>Ramos más útiles {{data.nombre_empresa}}</h1>
    <div mat-dialog-content>
            
        <div *ngIf="data.nombre_ramos_utiles[0] == null">
            No hay ramos para mostrar
        </div>
        
        <div *ngIf="data.nombre_ramos_utiles[0] != null">
            <div *ngFor="let ramo of data.nombre_ramos_utiles; let i = index">
                <!-- {{data.nombre_ramos_utiles[i]}}
                {{data.porcentaje_ramos_utiles[i]}} -->

                <h4 class="small font-weight-bold">{{data.nombre_ramos_utiles[i]}} <span
                    class="float-right">{{data.porcentaje_ramos_utiles[i]}}%</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar" role="progressbar"
                        [style]="'width: '+ data.porcentaje_ramos_utiles[i]+'%'" aria-valuenow="40"
                        aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>