<div id="wrapper">
    <div *ngIf="esalumno == 1; else elseblock">
        <app-barra-lateral-alumno></app-barra-lateral-alumno>
    </div>
    <ng-template #elseblock>
        <app-barra-lateral-encargado></app-barra-lateral-encargado>
    </ng-template>

    <div id="content-wrapper" class="d-flex flex-column">

        <div id="content" class="main-content">
            <app-barra-superior></app-barra-superior>
            
            <div id="container-fluid overflow-auto"  style="max-height: 80vh;">
                <!--<button (click)="volver_atras()" class="btn btn-primary d-flex align-items-right">Volver</button>-->
                <div class="h3 mt-2 ml-2">Publicaciones</div>
                <div *ngFor="let publi of fixed_publicaciones, let indice = index">
                    <div class="card">
                        <div class="font-weight-bold ">(Publicacion Fijada) {{publi?.titulo}} {{publi?.fecha}}</div>
                        <span class="text-gray-500">{{publi?.enunciado}}</span>
                        <p></p>
                        <div *ngIf="esalumno==0" style="display: flex;">
                            <button class="btn btn-primary btn-user btn-block" style="width: 150px; height: 50px;" (click)="inicio_edicion(1, indice)">Editar</button>
                            <button class="btn btn-danger btn-lg btn-block"  style="width: 150px; height: 50px;" (click)="eliminar(publi.id, 1, indice)">Eliminar</button>
                            <div *ngIf="fixed_edit_flags[indice] == 1">
                                <form class="user" [formGroup]="publiForm">
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <input type="text" class="form-control form-control-user"
                                                id="Titulo" placeholder="Titulo" formControlName="Titulo" name="Titulo">
                                        </div>
                                        <div *ngIf="publiForm.controls['Titulo'].invalid && (publiForm.controls['Titulo'].dirty || publiForm.controls['Titulo'].touched)"
                                                    class="alert alert-danger">
                                            <p *ngIf="publiForm.controls['Titulo'].errors?.['required']">
                                                Se requiere un título para la publicación.
                                            </p>
                                        </div>
                                        
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control form-control-user"
                                                id="Enunciado" placeholder="Enunciado" formControlName="Enunciado" name="Enunciado">
                                        </div>
                                        <div *ngIf="publiForm.controls['Enunciado'].invalid && (publiForm.controls['Enunciado'].dirty || publiForm.controls['Enunciado'].touched)"
                                                    class="alert alert-danger">
                                            <p *ngIf="publiForm.controls['Enunciado'].errors?.['required']">
                                                Se requiere que la publicación tenga un enunciado.
                                            </p>
                                        </div>
                                    </div>
                                    <p></p>
                                    <select class="form-select" name="IsFijo" id="IsFijo" formControlName="IsFijo">
                                        <option value="-1" disabled selected>Fijar Publicacion</option>
                                        <option value="1">Si</option>
                                        <option value="0">No</option>
                                    </select>
                                    <button type="submit" class="btn btn-primary btn-user btn-block" style="width: 150px;" (click)="edicion(publi.id, 1, indice)">Confirmar</button>
                                    <button class="btn btn-danger btn-lg btn-block" style="width: 150px;" (click)="terminar_edicion(1, indice)">Cancelar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngFor="let publi of publicaciones, let indice = index">
                    <div class="card">
                        <div class="font-weight-bold">{{publi?.titulo}} {{publi?.fecha}}</div>
                        <span class="text-gray-500">{{publi?.enunciado}}</span>
                        <p></p>
                        <div *ngIf="esalumno==0" style="display: flex;">
                            <button class="btn btn-primary btn-user btn-block" style="width: 150px; height: 50px;" (click)="inicio_edicion(0, indice)">Editar</button>
                            <button class="btn btn-danger btn-lg btn-block" style="width: 150px; height: 50px;" (click)="eliminar(publi.id, 0, indice)">Eliminar</button>
                            
                            <div *ngIf="edit_flags[indice] == 1">
                                <form class="user" [formGroup]="publiForm">
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <input type="text" class="form-control form-control-user"
                                                id="Titulo" placeholder="Titulo" formControlName="Titulo" name="Titulo">
                                        </div>
                                        <div *ngIf="publiForm.controls['Titulo'].invalid && (publiForm.controls['Titulo'].dirty || publiForm.controls['Titulo'].touched)"
                                                    class="alert alert-danger">
                                            <p *ngIf="publiForm.controls['Titulo'].errors?.['required']">
                                                Se requiere un título para la publicación.
                                            </p>
                                        </div>
                                        
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control form-control-user"
                                                id="Enunciado" placeholder="Enunciado" formControlName="Enunciado" name="Enunciado">
                                        </div>
                                        <div *ngIf="publiForm.controls['Enunciado'].invalid && (publiForm.controls['Enunciado'].dirty || publiForm.controls['Enunciado'].touched)"
                                                    class="alert alert-danger">
                                            <p *ngIf="publiForm.controls['Enunciado'].errors?.['required']">
                                                Se requiere que la publicación tenga un enunciado.
                                            </p>
                                        </div>
                                    </div>
                                    <p></p>
                                    <select class="form-select" name="IsFijo" id="IsFijo" formControlName="IsFijo">
                                        <option value="-1" disabled selected>Fijar Publicacion</option>
                                        <option value="1">Si</option>
                                        <option value="0">No</option>
                                    </select>
                                    <button type="submit" class="btn btn-primary btn-user btn-block" style="width: 150px;" (click)="edicion(publi.id, 0, indice)">Publicar</button>
                                    <button class="btn btn-danger btn-lg btn-block" style="width: 150px;" (click)="terminar_edicion(0, indice)">Cancelar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>  
                <p></p>
                <div *ngIf="esalumno==0">
                    <button class="btn btn-primary btn-user btn-block" style="width: 150px;" (click)="inicio_creacion()">Agregar Publicacion</button>
                    <div *ngIf="create_flag == 1" class="card">
                        <form class="user" [formGroup]="publiForm">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user"
                                        id="Titulo" placeholder="Titulo" formControlName="Titulo" name="Titulo">
                                </div>
                                <div *ngIf="publiForm.controls['Titulo'].invalid && (publiForm.controls['Titulo'].dirty || publiForm.controls['Titulo'].touched)"
                                            class="alert alert-danger">
                                    <p *ngIf="publiForm.controls['Titulo'].errors?.['required']">
                                        Se requiere un título para la publicación.
                                    </p>
                                </div>
                                
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-user"
                                        id="Enunciado" placeholder="Enunciado" formControlName="Enunciado" name="Enunciado">
                                </div>
                                <div *ngIf="publiForm.controls['Enunciado'].invalid && (publiForm.controls['Enunciado'].dirty || publiForm.controls['Enunciado'].touched)"
                                            class="alert alert-danger">
                                    <p *ngIf="publiForm.controls['Enunciado'].errors?.['required']">
                                        Se requiere que la publicación tenga un enunciado.
                                    </p>
                                </div>
                            </div>
                            <p></p>
                            <select class="form-select" name="IsFijo" id="IsFijo" formControlName="IsFijo">
                                <option value="" disabled selected>Fijar Publicacion</option>
                                <option value="1">Si</option>
                                <option value="0">No</option>
                            </select>
                            <select class="form-select" (input)="checkout($event)">
                                <option value="" disabled selected>Programar Publicacion</option>
                                <option value="1"> Si </option>
                                <option value="0"> No </option>
                            </select>
                            <div *ngIf="fecha_flag==1">
                                <input type="date" id="start" name="trip-start" value="2018-07-22"
                                name="fecha_programada1" id="fecha_programada1" formControlName="fecha_programada1"/>
                                <input type="time" id="fecha_programada2" name="fecha_programada2" formControlName="fecha_programada2"/>
                            </div>

                            <button type="submit" class="btn btn-primary btn-user btn-block" style="width: 150px;" (click)="crear()">Publicar</button>
                            <button class="btn btn-danger btn-lg btn-block" style="width: 150px;" (click)="cancelar_creacion()">Cancelar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<app-logout-modal></app-logout-modal>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<!-- <script src="vendor/datatables/jquery.dataTables.min.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script> -->

<!-- Page level custom scripts -->
<script src="js/demo/datatables-demo.js"></script>