<h1>{{alumno.Nombre}} {{alumno.Apellido}}</h1>
<p>Rut: {{alumno.rut}}</p>

<!-- 
<p>Rol: {{alumno.rol}} </p>
<p>Correo: {{alumno.correo}}<p/>

<div>
    <h1>Practica #1:</h1>
    <p>Nombre Empresa: {{NOMBREEMPRESA}}</p>
    <p>Rut Empresa: {{RUTEMPRESA}}</p>
    <p>Nombre Supervisor: {{NOMBRESUPERVISOR}}</p>
    <p>Correo Supervisor: {{CORREOSUPERVISOR}}</p>
    <p>Fecha Inicio: {{FECHAINICIO}}>/p>
    <p>Fecha Término: {{FECHATERMINO}}</p>
    <p>Estado Práctica: {{alumno.Practica_1}}</p>
    <p>Nota: {{NOTA}}</p>
    <p>Informe evaluación: {{INFORMEFINAL}}</p>
    
    <p>Estado Práctica 1: {{alumno.Practica_1}}</p>
    <div [ngSwitch]="alumno.Practica_1">
        <button *ngSwitchCase="'Solicitada Revisión'" routerLink = "/encargado/{{alumno.Id}}/revision/1">Revisar</button>
        <div *ngSwitchDefault></div>
    </div>
</div>

<div>
    <h1>Practica #2:</h1>
    <p>Nombre Empresa: {{NOMBREEMPRESA}}</p>
    <p>Rut Empresa: {{RUTEMPRESA}}</p>
    <p>Nombre Supervisor: {{NOMBRESUPERVISOR}}</p>
    <p>Correo Supervisor: {{CORREOSUPERVISOR}}</p>
    <p>Fecha Inicio: {{FECHAINICIO}}>/p>
    <p>Fecha Término: {{FECHATERMINO}}</p>
    <p>Estado Práctica: {{alumno.Practica_2}}</p>
    <p>Nota: {{NOTA}}</p>
    <p>Informe evaluación: {{INFORMEFINAL}}</p>
    
    <p>Estado Práctica 2: {{alumno.Practica_2}}</p>
    <div [ngSwitch]="alumno.Practica_2">
        <button *ngSwitchCase="'Solicitada Revisión'" routerLink = "/encargado/{{alumno.Id}}/revision/2">Revisar</button>
        <div *ngSwitchDefault></div>
    </div>
</div>
-->

<p>Estado Práctica 1: {{alumno.Practica_1}}</p>
<div [ngSwitch]="alumno.Practica_1">
    <button *ngSwitchCase="'Solicitada Revisión'" routerLink = "/encargado/{{alumno.Id}}/revision/1">Revisar</button>
    <div *ngSwitchDefault></div>
</div>

<p>Estado Práctica 2: {{alumno.Practica_2}}</p>
<div [ngSwitch]="alumno.Practica_2">
    <button *ngSwitchCase="'Solicitada Revisión'" routerLink = "/encargado/{{alumno.Id}}/revision/2">Revisar</button>
    <div *ngSwitchDefault></div>
</div>
<button routerLink="/encargado" routerLinkActive="active">Volver</button>