html, body { 
    height: 100%; 
}

body { 
    margin: 0;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.volver {
    width: 20px;
    align-self: flex-end;
}

.navbar{
    height: 9vh;
}

.container-fluid{
    overflow: auto;
    height: 91vh;
    display: block;
    padding-top: 10px;
}
