<div class="modal fade" id="migrarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Finalizar configuracion de pratica</h5>
            </div>
            <div class="modal-body">
                <p>¿Desea migrar a los alumnos a la nueva configuracion?</p>
                <p>Los cambios que ha realizado no son compatibles con migrar estudiantes</p>
                <p>{{migrarLegal}}</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <!-- <a class="btn btn-primary">Guardar</a> -->
            </div>
        </div>
    </div>
</div>
