<div class="modal fade" id="migrarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Finalizar configuracion de pratica</h5>
            </div>
            <div class="modal-body">
                <!-- <p>{{migrarLegal}}</p> -->
                <div *ngIf="migrarLegal">
                    <p>
                        Ha realizado cambios que afectan a estudiantes que estan cursando este tipo de practica <br>
                        ¿Desea migrar a los alumnos a la nueva configuracion?
                    </p>
                </div>
                <div *ngIf="!migrarLegal">
                    <p>
                        Los cambios que ha realizado no son compatibles con migrar estudiantes. Intente creando una nueva practica. Si desea usar esta como base use la opcion 
                        <i>Importar existente</i>
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <button [disabled]="!migrarLegal" class="btn btn-primary" (click)="callParent()" data-dismiss="modal">Migrar</button>
            </div>
        </div>
    </div>
</div>
