<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Praxus - Login</title>

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Registro de Praxus para Estudiantes</h1>
                        </div>
                        <form class="user" [formGroup]="registroForm">
                            <div class="form-group row">

                                <!-- NOMBRE -->
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    Nombre:
                                    <input type="text" class="form-control form-control-user" id="exampleFirstName"
                                        placeholder="Juan Alberto" formControlName="nombre" name="nombre">
                                    <div *ngIf="registroForm.controls['nombre'].invalid && (registroForm.controls['nombre'].dirty || registroForm.controls['nombre'].touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="registroForm.controls['nombre'].errors?.['required']">
                                            Se requiere nombre
                                        </div>
                                        <div *ngIf="registroForm.controls['nombre'].errors?.['minlength']">
                                            Mínimo 3 caracteres.
                                        </div>
                                    </div>
                                </div>
                                <!-- APELLIDO -->

                                <div class="col-sm-6">
                                    Apellido:
                                    <input type="text" class="form-control form-control-user" id="exampleLastName"
                                        placeholder="Diaz Maturana" formControlName="apellido">
                                    <div *ngIf="registroForm.controls['apellido'].invalid && (registroForm.controls['apellido'].dirty || registroForm.controls['apellido'].touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="registroForm.controls['apellido'].errors?.['required']">
                                            Se requiere apellido
                                        </div>
                                        <div *ngIf="registroForm.controls['apellido'].errors?.['minlength']">
                                            Mínimo 3 caracteres.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- EMAIL -->
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    Correo:
                                    <input type="text" class="form-control form-control-user" id="exampleInputEmail"
                                        placeholder="alias" formControlName="email" name="email">
                                    <div *ngIf="registroForm.controls['email'].invalid && (registroForm.controls['email'].dirty || registroForm.controls['email'].touched)"
                                        class="alert alert-danger">
                                        <p *ngIf="registroForm.controls['email'].errors?.['required']">
                                            Se requiere alias
                                        </p>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    Dominio:
                                    <select class="form-select" name="dom" id="dom" formControlName="dom">
                                        <option value="" disabled selected>Seleccione un dominio</option>
                                        <option *ngFor="let dominio of dominios" value="{{dominio}}">&#64;{{dominio}}
                                        </option>
                                    </select>
                                    <div *ngIf="registroForm.controls['dom'].invalid && (registroForm.controls['dom'].dirty || registroForm.controls['dom'].touched)"
                                        class="alert alert-danger">
                                        <p *ngIf="registroForm.controls['dom'].errors?.['required']">
                                            Se requiere dominio
                                        </p>
                                    </div>
                                </div>

                            </div>
                            <!-- EMAIL -->

                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    Contraseña:
                                    <input type="password" class="form-control form-control-user"
                                        id="exampleInputPassword" placeholder="**********" formControlName="password"
                                        name="password">
                                    <div *ngIf="registroForm.controls['password'].invalid && (registroForm.controls['password'].dirty || registroForm.controls['password'].touched)"
                                        class="alert alert-danger">
                                        <p *ngIf="registroForm.controls['password'].errors?.['required']">
                                            Se requiere contraseña
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    Repetir contraseña:
                                    <input type="password" class="form-control form-control-user"
                                        id="exampleRepeatPassword" placeholder="**********"
                                        formControlName="confirmPassword" name="password">
                                </div>
                            </div>

                            <div class="form-group">
                                Ingrese su rut:
                                <input class="form-control form-control-user" formControlName="RUT" type="text"
                                    name="RUT" placeholder="12345678-9" required="required" />
                            </div>
                            <div class="form-group">
                                Carrera:
                                <select class="form-select" name="id_carrera" id="id_carrera"
                                    formControlName="id_carrera">
                                    <option value="" disabled selected>Seleccione carrera</option>
                                    <option *ngFor="let carrera of carreras" value="{{carrera.id}}">{{carrera.nombre}}
                                    </option>
                                </select>
                            </div>
                            <hr>

                            <button id="myBtn" type="submit" class="btn btn-primary btn-user btn-block"
                                (click)="register()" [disabled]="registroForm.pristine || registroForm.invalid">
                                Registrar Cuenta
                            </button>
                            <script>
                                var input = document.getElementById("exampleRepeatPassword");
                                input.addEventListener("keypress", function (event) {
                                    if (event.keyCode === 13) {
                                        event.preventDefault();
                                        document.getElementById("myBtn").click();
                                    }
                                });
                            </script>
                            <hr>
                            <!-- <a href="" class="btn btn-google btn-user btn-block">
                                <i class="fab fa-google fa-fw"></i> Register with Google
                            </a>
                            <a href="" class="btn btn-facebook btn-user btn-block">
                                <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                            </a> -->
                        </form>
                        <hr>
                        <!--
                        <div class="text-center">
                            <a class="small" routerLink="/resetPass">Forgot Password?</a>
                        </div>-->
                        <div class="text-center">
                            <a class="small" routerLink="/login">Iniciar sesión</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>


</body>

</html>