<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form class="user">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="exampleFirstName"
                                            placeholder="First Name" [(ngModel)]="inicial" name="inicial" required="required">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="exampleLastName"
                                            placeholder="Last Name" [(ngModel)]="apellido" name="apellido" required="required">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                                        placeholder="Email Address" [(ngModel)]="email" name="email">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user"
                                            id="exampleInputPassword" placeholder="Password" 
                                            [(ngModel)]="password" name="password" required="required">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user"
                                            id="exampleRepeatPassword" placeholder="Repeat Password"
                                            [(ngModel)]="confirmPassword" name="password" required="required">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <select name="tipo" id="tipo" (change) = "checkout($event)" class="form-control form-control-user">
                                            <option value="0">Seleccione una opcion</option>
                                            <option value="1">Estudiante</option>
                                            <option value="2">Supervisor</option>
                                            <option value="3">Encargado</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div *ngIf="!es_estudiante&&!es_supervisor&&!es_encargado"> </div>
                                    <div *ngIf="es_estudiante">
                                        <input 
                                          type="text"
                                          [(ngModel)]="RUT"
                                          name="RUT"
                                          placeholder="RUT"
                                          required="required"
                                          class="form-control form-control-user"
                                        />
                                    </div>
                                    <div *ngIf="es_supervisor">
                                    </div>
                                    <div *ngIf="es_encargado">
                                    </div>
                                </div>
                                <button id="myBtn" routerLink="/login" class="btn-primary btn-user btn-block"
                                    (click)="register()">
                                    Register Account
                                </button>
                                <script>
                                    var input = document.getElementById("exampleRepeatPassword");
                                    input.addEventListener("keypress", function(event) {
                                    if (event.keyCode === 13) {
                                        event.preventDefault();
                                        document.getElementById("myBtn").click();
                                    }
                                    });
                                </script>
                                <hr>
                                <a href="" class="btn btn-google btn-user btn-block">
                                    <i class="fab fa-google fa-fw"></i> Register with Google
                                </a>
                                <a href="" class="btn btn-facebook btn-user btn-block">
                                    <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                                </a>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" routerLink="/resetPass">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" routerLink="/login">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

</body>