<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-0 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <form class="form-inline">
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
        </button>
    </form>

    <!-- Topbar Search -->
    <form
        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
        <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small"
                            placeholder="Search for..." aria-label="Search"
                            aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>

        <!-- Nav Item - Alerts -->
        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
                <div *ngIf = "notificaciones.length >0">
                    <span class="badge badge-danger badge-counter">{{notificaciones.length}}</span>
                </div>
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">Notificaciones</h6>
                <mat-radio-group aria-label="Seleccione su configuración de notificaciones">
                    <h6 class = "dropdown-item"> Seleccione su configuración de notificaciones</h6>
                    <div *ngFor = "let estado of estados_configuracion">
                        <mat-radio-button (click)="cambiar_configuracion_notificacion(id_usuario, estado) ">{{estado}}</mat-radio-button>
                    </div>
                </mat-radio-group>
                <h6 class ="dropdown-item">Notificaciones Recibidas</h6>
                <div *ngFor = "let noti of notificaciones">
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="mr-3">
                            <div class="icon-circle bg-primary">
                                <i class="fas fa-file-alt text-white"></i>
                            </div>
                        </div>
                        <div>
                            <a href = {{noti?.link}}>
                                <div class="small text-gray-500">{{noti?.fecha}}</div>
                                <span class="font-weight-bold">{{noti?.texto}}</span>
                            </a>
                        </div>
                    </a>
                </div>
                      
                <a class="dropdown-item text-center small text-gray-500" (click) = eliminar_notificaciones(id_usuario)>Eliminar Notificaciones</a>
                <a class="dropdown-item text-center small text-gray-500" routerLink="/historial"> Más Notificaciones </a>
            </div>
        </li>

        <!-- Nav Item - Messages -->
        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-comment fa-fw"></i>
                <!-- Counter - Messages -->
                <span class="badge badge-danger badge-counter"></span>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="messagesDropdown">
                
                <div *ngIf = "es_alumno == 1; else elseblock">
                    <h6 class="dropdown-header">Encargados disponibles</h6>
                    <p style="margin-left: 5%; margin-top: 4%;"></p>
                    <div *ngFor = "let persona of personas">
                        <div class="dropdown-item d-flex align-items-center" (click)="redirect_to_chat(persona.id, persona.usuario.id, 'estudiante')">
                            <div class="dropdown-list-image mr-3">
                                <img class="rounded-circle" src="../../../assets/img/undraw_profile_1.svg"
                                    alt="...">
                                <div class="status-indicator bg-success"></div>
                            </div>
                            Encargado {{persona.usuario.nombre}}
                        </div>
                    </div>
                </div>

                <ng-template #elseblock>
                    <h6 class="dropdown-header">Alumnos disponibles</h6>
                    <div *ngFor = "let persona of personas">
                        <div class="dropdown-item d-flex align-items-center" (click)="redirect_to_chat(persona.id, persona.usuario.id, 'encargado')" >
                            <div class="dropdown-list-image mr-3">
                                <img class="rounded-circle" src="../../../assets/img/undraw_profile_1.svg"
                                    alt="...">
                                <div class="status-indicator bg-success"></div>
                            </div>
                            Estudiante {{persona.usuario.nombre}}
                            <div class="font-weight-bold"></div>
                        </div>
                    </div>
                </ng-template>
                <a class="dropdown-item text-center small text-gray-500" href="#">Más mensajes</a>
            </div>
        </li>

        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ nombre_usuario }}</span>
                <img class="img-profile rounded-circle"
                    src="../../../assets/img/undraw_profile.svg">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Perfil
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Configuraciones
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                    Registro de Actividad
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Cerrar Sesión
                </a>
            </div>
        </li>

    </ul>

</nav>
<!-- End of Topbar -->